<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Another Level &ndash; {{ page.title }}</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#333333">

    <link href="styles/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="styles/al.css">
    <script src="/js/theme.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/lodash.min.js"></script>
</head>

<body>
<div id="app">

    {% include navigation.html %}

    <div class="container">

        <div class="mt-2 mx-auto text-center">
            <h1 class="display-4 fw-normal text-body-emphasis">{{ page.title }}</h1>
        </div>
        
        {% include resterrors.html %}
        
        <div v-cloak>
            <div v-if="!loggedin" class="alert alert-info my-2 text-center align-middle" role="alert">
                <i class="bi bi-info-circle"></i>&nbsp;You must log in to continue&nbsp;
                <a class="btn btn-success rounded-pill my-1 mx-2" :href="'login.html?return=' + encodeLoginReturnUrl()">Login</a>
            </div>
            
            <!-- Logged in section -->
            <div v-else>
                {{ content }}
            </div>
        </div>
    </div>
        
</div>

{% include footer.html %}

</body>
{% include scripts.html %}
</html>