---
layout: nonav
title: Create/Edit Session
script: js/edit_session.js
---

<div class="card my-2">
    <div class="card-header d-flex align-items-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-sun-fill" viewBox="0 0 54 54">
                <path d="m 29.64,32.02 2.7,-4.68 8.16,14.04 h 5.4 C 44.7,39.46 33.3,19.96 32.34,18.04 L 20.58,38.44 16.2,46.06 H 0 C 0.9,44.56 6.96,34 12.78,23.86 16.2,17.92 19.98,11.26 24.24,4 h 5.4 L 18.48,23.32 8.1,41.38 h 5.4 C 20.88,28.36 25.5,20.68 32.34,8.68 32.76,9.4 53.88,46 54,46.06 H 37.8 Z"/>
        </svg>
        <h2 class="ms-2">${session_data.id ? 'Edit' : 'Create New'} Session</h2>
        <div class="ms-auto align-middle">
            <button type="button" class="btn-close" aria-label="Close" @click="goBack()"></button>
        </div>
    </div>
    <div class="card-body">
        <form>
            <div class="mb-2 row"> <!-- Date, time and duration row -->
                <div class="col-4">
                    <label for="editSessionDate" class="form-label">Date</label>
                    <input id="editSessionDate" class="form-control" :class="{'is-invalid': session_data_validation.date}" type="date" v-model="session_data.date" required>
                    <div class="invalid-feedback">
                        ${session_data_validation.date}
                    </div>
                </div>
                <div class="col-4">
                    <label for="editSessionTime" class="form-label">Time</label>
                    <input id="editSessionTime" class="form-control" :class="{'is-invalid': session_data_validation.time}" type="time" list="editSessionTimeList" v-model="session_data.time" required>
                    <datalist id="editSessionTimeList">
                        <option v-for="time in suggested_session_times" :value="time"></option>
                    </datalist>
                    <div class="invalid-feedback">
                        ${session_data_validation.time}
                    </div>
                </div>
                <div class="col-4">
                    <label for="editSessionDuration" class="form-label">Duration</label>
                    <div class="input-group">
                        <input id="editSessionDuration" class="form-control no-spinner" :class="{'is-invalid': session_data_validation.duration_mins}" type="number" min="0" step="5" v-model="session_data.duration_mins" required>
                        <span class="input-group-text">mins</span>
                        <div class="invalid-feedback">
                            ${session_data_validation.duration_mins}
                        </div>
                    </div>
                </div>
            </div>  <!-- END date, time and duration row -->

            <div class="mb-2 row"> <!-- type, cost and limit row -->
                <div class="col-4">
                    <label for="editSessionType" class="form-label">Type</label>
                    <select id="editSessionType" class="form-control" :class="{'is-invalid': session_data_validation.session_type_id}" v-model="session_data.session_type_id" @change="onChangeSessionType" required>
                        <option disabled value="">Type&hellip;</option>
                        <option v-for="session_type in admin_session_type_list" :value="session_type.id">${session_type.name}</option>
                    </select>
                    <div class="invalid-feedback">
                        ${session_data_validation.session_type_id}
                    </div>
                </div>
                <div class="col-4">
                    <label for="editSessionCost" class="form-label">Cost</label>
                    <input id="editSessionCost" type="number" class="form-control" v-model="session_data.cost" title="Credits cost" :class="{'is-invalid': session_data_validation.cost}" aria-label="Credits cost">
                    <div class="invalid-feedback">
                        ${session_data_validation.cost}
                    </div>
                </div>
                <div class="col-4">
                    <label for="editSessionBookingLimit" class="form-label">Max. Bookings</label>
                    <div class="input-group">
                        <div class="input-group-text">
                            <input class="form-check-input mt-0" type="checkbox" aria-label="Enable max booking limit" title="Enable max bookings limit" v-model="session_data.max_bookings_enabled">
                        </div>
                        <input id="editSessionBookingLimit" type="number" class="form-control" v-model="session_data.max_bookings" title="Max bookings limit" :class="{'is-invalid': session_data_validation.max_bookings}" :disabled="!session_data.max_bookings_enabled" aria-label="Max bookings limit">
                        <div class="invalid-feedback">
                            ${session_data_validation.max_bookings}
                        </div>
                    </div>
                </div>
            </div>  <!-- END type and limit row -->
            
            <div class="mb-2 row"> <!-- trainer & location row -->
                <div class="col">                        
                    <label for="editSessionTrainer" class="form-label">Trainer</label>
                    <select id="editSessionTrainer" class="form-control" :class="{'is-invalid': session_data_validation.trainer_id}" v-model="session_data.trainer_id" required>
                        <option v-for="trainer in admin_trainer_list" :value="trainer.id">${trainer.name}</option>
                        <option :value="null">None</option>
                    </select>
                    <div class="invalid-feedback">
                        ${session_data_validation.trainer_id}
                    </div>
                </div>
                <div class="col">
                    <label for="editSessionLocation" class="form-label">Location</label>
                    <select id="editSessionLocation" class="form-control" :class="{'is-invalid': session_data_validation.location_id}" v-model="session_data.location_id" required>
                        <option v-for="location in admin_location_list" :value="location.id">${location.name}</option>
                        <option :value="null">None/Other</option>
                    </select>
                    <div class="invalid-feedback">
                        ${session_data_validation.location_id}
                    </div>
                </div>
            </div> <!-- END: trainer row -->

            <div class="mb-2"> <!-- session notes -->
                <label for="editSessionNotes" class="form-label">Notes</label>
                <textarea id="editSessionNotes" class="form-control" rows="5" v-model="session_data.notes"></textarea>
            </div>

        </form>
    </div> <!-- end card body -->

    <div class="d-flex card-footer align-items-center">
        <div class="me-auto p-2">
            <span v-if="outcome" :class="{'text-danger': outcome.is_error, 'text-success': !outcome.is_error}">${outcome.message}</span>
        </div>
        <div class="p-2">
            <button id="editSessionSubmit" type="button" class="btn btn-primary" :disabled="!session_data_validation.ready" @click.prevent="saveSession(session_data, false)">Save</button>
        </div>
        <div class="p-2">
            <button id="editSessionSubmitAndCreate" type="button" class="btn btn-primary" :disabled="!session_data_validation.ready" @click.prevent="saveSession(session_data, true)">Save &amp; Create Another</button>
        </div>
    </div>
</div> <!-- end card -->
