---
layout: nonav
title: Register
script: js/register.js
---
<div class="card my-2">
    <div class="card-header d-flex align-items-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-sun-fill" viewBox="0 0 54 54">
                <path d="m 29.64,32.02 2.7,-4.68 8.16,14.04 h 5.4 C 44.7,39.46 33.3,19.96 32.34,18.04 L 20.58,38.44 16.2,46.06 H 0 C 0.9,44.56 6.96,34 12.78,23.86 16.2,17.92 19.98,11.26 24.24,4 h 5.4 L 18.48,23.32 8.1,41.38 h 5.4 C 20.88,28.36 25.5,20.68 32.34,8.68 32.76,9.4 53.88,46 54,46.06 H 37.8 Z"/>
        </svg>
        <h2 class="ms-2">Another Level &ndash; Registration</h2>
        <div class="ms-auto align-middle">
            <button type="button" class="btn-close" aria-label="Close" onclick="history.back();"></button>
        </div>
    </div>
    <div class="card-body">
        <form @submit.prevent="onSubmit">
            <div class="mb-3">
                <label for="inputName" class="form-label">Your Name:</label>
                <input type="text" class="form-control" :class="{'is-invalid': user_data_val.name}" id="inputName" aria-describedby="inputNameHelp" v-model="user_data.name" required>
                <div class="invalid-feedback">
                    ${user_data_val.name}
                </div>
            </div>

            <div class="row g-3 mb-3">
                <div class="col-md-6">                        
                    <label for="inputEmail" class="form-label">Email Address:</label>
                    <input type="email" class="form-control" :class="{'is-invalid': user_data_val.email}" id="inputEmail" aria-describedby="emailHelp" v-model="user_data.email" required>
                    <div class="invalid-feedback">
                        ${user_data_val.email}
                    </div>
                </div>                    
                <div class="col-md-6">
                    <label for="inputPhone" class="form-label">Phone Number:</label>
                    <input type="tel" class="form-control" :class="{'is-invalid': user_data_val.phone}" id="inputPhone" aria-describedby="phoneHelp" v-model="user_data.phone" required>
                    <div class="invalid-feedback">
                        ${user_data_val.phone}
                    </div>
                </div>
            </div>

            <div class="row g-3 mb-3">
                <div class="col-md-6">
                    <label for="emergencyContactName" class="form-label">Emergency Contact Name:</label>
                    <input type="tel" class="form-control" :class="{'is-invalid': user_data_val.emergency_name}" id="emergencyContactName" v-model="user_data.emergency_name" required>
                    <div class="invalid-feedback">
                        ${user_data_val.emergency_name}
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="emergencyContactPhone" class="form-label">Emergency Contact Number:</label>
                    <input type="tel" class="form-control" :class="{'is-invalid': user_data_val.emergency_phone}" id="emergencyContactPhone" v-model="user_data.emergency_phone" required>
                    <div class="invalid-feedback">
                        ${user_data_val.emergency_phone}
                    </div>
                </div>
            </div>

            <div class="mb-3">
                <label for="medicalText" class="form-label">Medical Information:</label>
                <textarea class="form-control" id="medicalText" rows="5" title="the title" v-model="user_data.medical_info" placeholder="Please state any relevant medical information, e.g. asthma, epilepsy, medications, allergies etc"></textarea>
            </div>

            <div class="mb-3">
                <label for="termsText" class="form-label">Terms and Conditions:</label>
                <textarea class="form-control" id="termsText" rows="10" readonly>By attending classes and using the park or venue or facilities and equipment, you hereby acknowledge and agree on behalf of yourself that you have voluntarily chosen to participate in intense physical exercise. We rely on you carrying out your own health self-assessment prior to taking part in any class. You agree to assume full responsibility for any and all injuries or damage to your person or property, which are sustained or aggravated by you in relation to the use of equipment and/or park or venue facilities.</textarea>
            </div>

            <div class="mb-3 form-check">
                <input class="form-check-input" :class="{'is-invalid': user_data_val.terms_agreed}" type="checkbox" id="termsAgreeCheck" v-model="user_data.terms_agreed" required>
                <label class="form-check-label" for="termsAgreeCheck">I agree to the terms and conditions</label>
                <div class="invalid-feedback">
                    ${user_data_val.terms_agreed}
                </div>
            </div>

            <button id="submitButton" type="submit" class="btn btn-primary" :disabled="!user_data_val.ready || !user_data.terms_agreed">Register User</button>
            <div v-if="register_result">
                <div v-if="register_result.is_existing_user" class="text-danger">An account already exists with this email address. Please <a :href="'login.html?email=' + encodeURIComponent(user_data.email)">login</a> instead.</p></div>
                <div v-else :class="{'text-danger': register_result.is_error}">${register_result.message}</div>
            </div>
        </form>
    </div> <!-- end card body -->
</div> <!-- end card -->
