<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Another Level &ndash; Session Attendance</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#333333">

    <link href="styles/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <style>
        [v-cloak] {
            display: none;
        }
        input[type="number"].no-spinner::-webkit-outer-spin-button,
        input[type="number"].no-spinner::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
        input[type="number"].no-spinner {
            -moz-appearance: textfield;
        }
    </style>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/utils.js"></script>
    <script src="js/lodash.min.js"></script>
</head>

<body>
<div id="app">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary" role="navigation">
        <div class="container-fluid">
            <!-- Another Level brand -->
            <a class="navbar-brand" href="index.html"><img src="img/alcf_logo_white.png" alt="Another Level Logo" width="30" height="24" class="d-inline-block align-text-top"> Another Level</a>
            <!-- Collapse state toggle button -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Navbar collapsible list -->
            <div id="navbarContent" class="collapse navbar-collapse">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="sessions.html">Sessions</a></li>
                    <li class="nav-item"><a class="nav-link" href="bookings.html">Bookings</a></li>
                    <div v-cloak v-if="isAdmin(auth)"> <!-- Admin only links -->
                        <li class="nav-item"><a class="nav-link" href="members.html">Members</a></li>
                    </div>
                    <li class="nav-item"><a class="nav-link" href="https://chat.whatsapp.com/CPjp84Qz6uM5t9Oq88Qb4Q" target="_blank"><i class="bi bi-question-circle"></i>&nbsp;Help</a></li>
                </ul>
                <div v-cloak v-if="auth">
                    <span class="navbar-text"><a href="profile.html" style="text-decoration: none; color: var(--bs-nav-link-color)"><i class="bi bi-person-fill"></i>&nbsp;{{auth.name}}</a></span>&nbsp;
                    <button id="logout" type="button" class="btn btn-outline-danger" @click="onLogout">Logout</button>
                </div>
                <div v-else class="btn-group" role="group">
                    <a id="navbarLogin" class="btn btn-primary" href="login.html">Login</a>
                    <a id="navbarRegister" class="btn btn-primary" href="register.html">Register</a>
                </div>
            </div>
        </div>
    </nav>

    <!-- Main Content -->
    <div class="container-fluid" v-cloak>
        <!-- REST errors -->
        <div v-if="http_err" class="alert alert-danger my-2" role="alert">
            <div v-if="'authorization token expired' === http_err">
                Your login session has expired, please <a href="login.html">login again</a>.
            </div>
            <div v-else>
                {{http_err}}
            </div>
        </div>

        <!-- Not logged in section -->
        <div class="alert alert-danger my-2" role="alert" v-if="!auth">
            <div class="card-body text-danger">
                <p class="card-text">
                    You are not logged in. Please return to the <a href="login.html">login page</a>.
                </p>
            </div>
        </div> <!-- End not logged in section -->

        <!-- Logged in section -->
        <div id="loggedInSection" v-else>
            <div v-if="session" class="card my-3">
                <h5 class="card-header">Session Attendance</h5>
                <div class="card-body">
                    <p>Showing attendance for session at {{displayTime(session.datetime)}} on {{displayDate(session.datetime)}}, at {{session.location.name}}.</p>
                    <table class="table table-hover">
                        <tbody>
                        <tr v-for="booking in bookings">
                            <td>{{booking.person_name}} &lt;{{booking.person_email}}&gt;</td>
                            <td><a href="#" class="link-danger" @click.prevent="removeMember(session.id, booking.person_id)">Cancel</a></td>
                        </tr>

                        <!-- Add Member Row -->
                        <tr>
                            <td><form>
                                <div class="input-group m-0 p-0">
                                    <input id="addMemberToSessionInput" type="search" class="form-control" list="addMemberToSessionOptions" id="addMemberToSessionDataList" placeholder="Type member name to search&hellip;" @input.prevent="addMemberInput">
                                    <button class="btn btn-outline-primary" :disabled="!adding_user" @click.prevent="addMember(session.id, adding_user.id)">Add</button>
                                </div>
                                <datalist id="addMemberToSessionOptions">
                                    <option v-if="all_user_data && all_user_data.name_email_to_user" v-for="user_name_email in all_user_data.name_email_to_user.keys()" :value="user_name_email">
                                </datalist>
                            </form></td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                </div> <!-- end attendance card body -->
            </div> <!-- end attendance card -->
        </div> <!-- end logged in section -->
    </div> <!-- end main content -->
</div> <!-- end vue app -->
</body>

<script type="module">
    import { createApp, reactive, ref, watch } from 'https://unpkg.com/vue@3/dist/vue.esm-browser.js'

    const http_err = ref(null)
    const auth = ref(null)
    const session = ref(null)
    const bookings = ref([])
    const adding_user = ref(null)

    // Reference data
    const all_user_data = ref({
        count: 0,
        name_email_to_user: null
    })

    async function loadSession(sessionId) {
        http_err.value = null
        fetch(SERVER_URL + "/sessions/" + sessionId, {
            headers: {
                'Authorization': 'Bearer ' + auth.value.access_token
            },
            withCredentials: true,
            credentials: 'include'
        }).then(res => {
            if (!res.ok) throw res
            return res.json()
        }).then(json => {
            session.value = json
        }).catch(err => {
            err.text().then(error_text => {
                http_err.value = error_text
            })
        })
    }

    async function loadSessionAttendees(sessionId) {
        http_err.value = false
        fetch(SERVER_URL + "/bookings?session_id=" + sessionId, {
            headers: {
                'Authorization': 'Bearer ' + auth.value.access_token
            },
            withCredentials: true,
            credentials: 'include'
        })
        .then(res => {
            if (!res.ok) throw res
            return res.json()
        })
        .then(json => {
            bookings.value = json
        })
        .catch(err => {
            err.text().then(error_text => {
                http_err.value = error_text
            })
        })
    }

    async function loadAllUsersTables() {
        all_user_data.value = {
            count: 0,
            name_email_to_user: null
        }
        http_err.value = null
        fetch(SERVER_URL + "/users/list", {
            headers: {
                'Authorization': 'Bearer ' + auth.value.access_token
            },
            withCredentials: true,
            credentials: 'include'
        }).then(res => {
            if (!res.ok) throw res
            return res.json()
        }).then(users => {
            let count = 0
            let name_email_to_user = new Map()
            for (let user of users) {
                let name_email = user.name + ' <' + user.email + '>'
                name_email_to_user.set(name_email, user)
                count++
            }
            all_user_data.value = {
                count: count,
                name_email_to_user: name_email_to_user
            }
        }).catch(err => {
            err.text().then(error_text => {
                http_err.value = error_text
            })
        })
    }

    function addMemberInput(event) {
        let name_email = event.target.value
        let user = all_user_data.value.name_email_to_user.get(name_email)
        adding_user.value = user
    }

    async function addMember(sessionId, personId) {
        http_err.value = null
        fetch(SERVER_URL + "/bookings", {
            method: "POST",
            headers: {
                'Authorization': 'Bearer ' + auth.value.access_token
            },
            body: JSON.stringify({
                person_id: personId,
                session_id: sessionId
            }),
            withCredentials: true,
            credentials: 'include'
        })
        .then(res => {
            if (!res.ok) throw res
        })
        .catch(error => {
            error.text().then(error_text => {
                http_err.value = error_text
            })
        })
        .then(_ => {
            document.getElementById("addMemberToSessionInput").value = null
            loadSessionAttendees(sessionId)
        })
    }

    async function removeMember(sessionId, personId) {
        http_err.value = null
        fetch(SERVER_URL + "/bookings?person_id=" + personId + "&session_id=" + sessionId, {
            method: "DELETE",
            headers: {
                'Authorization': 'Bearer ' + auth.value.access_token
            },
            withCredentials: true,
            credentials: 'include'
        })
        .then(res => {
            if (!res.ok) throw res
            return res.json()
        })
        .catch(error => {
            error.text().then(err_text => {
                http_err.value = err_text
            })
        })
        .then(_ => {
            loadSessionAttendees(sessionId)
        })
    }

    let jwtRaw = localStorage.getItem("jwt")
    if (jwtRaw) {
        auth.value = JSON.parse(jwtRaw)
    }
    const sessionId = (new URLSearchParams(window.location.search)).get("id");
    if (sessionId) {
        loadSession(sessionId)
        loadSessionAttendees(sessionId)
        loadAllUsersTables()
    } else {
        http_err.value = "missing session id"
    }

    createApp({
        setup() {
            return {
                http_err, auth, session, bookings, adding_user, all_user_data,
                isAdmin, onLogout, displayTime, displayDate, addMemberInput, addMember, removeMember
            }
        }
    }).mount('#app')
</script>