<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Another Level &dash; Bookings</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#333333">

    <link href="styles/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/utils.js"></script>
</head>

<body>
<div id="app">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary" role="navigation">
        <div class="container-fluid">
            <!-- Another Level brand -->
            <a class="navbar-brand" href="index.html"><img src="img/alcf_logo_white.png" alt="Another Level Logo" width="30" height="24" class="d-inline-block align-text-top"> Another Level</a>
            <!-- Collapse state toggle button -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Navbar collapsible list -->
            <div id="navbarContent" class="collapse navbar-collapse">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="sessions.html">Sessions</a></li>
                    <li class="nav-item"><a class="nav-link active" aria-current="page">Bookings</a></li>
                    <!-- Admin only links -->
                    <li v-cloak v-if="isAdmin(auth)" class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Admin</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="members.html">Member Directory</a></li>
                            <li><a class="dropdown-item" href="stats.html">Attendance Stats</a></li>
                        </ul>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="https://chat.whatsapp.com/CPjp84Qz6uM5t9Oq88Qb4Q" target="_blank"><i class="bi bi-question-circle"></i>&nbsp;Help</a></li>
                </ul>
                <div v-cloak v-if="auth">
                    <span class="navbar-text"><a href="profile.html" style="text-decoration: none; color: var(--bs-nav-link-color)"><i class="bi bi-person-fill"></i>&nbsp;{{auth.name}}</a></span>&nbsp;
                    <button id="logout" type="button" class="btn btn-outline-danger" @click="onLogout">Logout</button>
                </div>
                <div v-else class="btn-group" role="group">
                    <a id="navbarLogin" class="btn btn-primary" href="login.html">Login</a>
                    <a id="navbarRegister" class="btn btn-primary" href="register.html">Register</a>
                </div>
            </div>
        </div>
    </nav>

    <!-- Main Content -->
    <div class="container-fluid" v-cloak>
        <!-- REST errors -->
        <div v-if="http_err" class="alert alert-danger my-2" role="alert">
            <div v-if="'authorization token expired' === http_err">
                Your login session has expired, please <a :href="'login.html?return=' + encodeLoginReturnUrl()">login again</a>.
            </div>
            <div v-else>
                {{http_err}}
            </div>
        </div>

        <!-- Not logged in section -->
        <div class="alert alert-danger my-2" role="alert" v-if="!auth">
            <div class="card-body text-danger">
                <p class="card-text">
                    You are not logged in. Please return to the <a :href="'login.html?return=' + encodeLoginReturnUrl()">login page</a>.
                </p>
            </div>
        </div> <!-- End not logged in section -->

        <!-- Logged in section -->
        <div id="loggedInSection" v-if="auth">
            <!-- Show bookings -->
            <h2 class="my-3">My Bookings</h2>
            <!-- booking table pagination -->
            <nav aria-label="Bookings Navigation">
                <ul class="pagination justify-content-center">
                    <li class="page-item" :class="{ active: bookings_pagination.past }"><a class="page-link" @click.stop="setPagePast">Past</a></li>
                    <li class="page-item" :class="{ active: !bookings_pagination.past }"><a class="page-link" @click.stop="setPageFuture">Upcoming</a></li>
                </ul>
            </nav> <!-- end booking table pagination -->

            <!-- bookings table -->
            <table class="table table-hover table-sm">
                <thead>
                    <tr>
                        <th scope="col">Date & Time</th>
                        <th scope="col">Type</th>
                        <th scope="col">Location</th>
                        <th v-if="bookings_pagination.past" scope="col">Attended?</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="booking in bookings_list">
                        <td>{{displayDate(booking.session_datetime)}} at {{displayTime(booking.session_datetime)}}</td>
                        <td>{{booking.session_type.name}}</td>
                        <td><a v-if="booking.session_location" :href="'http://www.google.com/maps/search/' + encodeURIComponent(booking.session_location.address)" target="_blank">{{booking.session_location.name}}</a></td>
                        <td v-if="bookings_pagination.past">
                            <span v-if="booking.attended" class="text-success"><i class="bi bi-check-circle"> Attended</i></span>
                            <span v-else class="text-danger"><i class="bi bi-x-circle"> Didn't Attend</i></span>
                        </td>
                        <td><a href="#" class="link-danger" :class="{'d-none': bookings_pagination.past}" @click.prevent="cancelBooking(booking)"><i class="bi bi-x-circle"></i>&nbsp;Cancel</a></td>
                    </tr>
                </tbody>
            </table>
        </div> <!-- End logged in section -->

    </div> <!-- end main content -->
</div> <!-- end Vue app -->

<div class="sticky-bottom bg-body">
    <div class="container-lg my-3 px-3">
        <p>&copy; 2024 Neil Bartlett all rights reserved. ALCFv001.</p>
    </div>
</div>
</body>

<script type="module">
    import { createApp, reactive, ref, watch } from './js/vue.esm-browser.js'

    // Current user information
    const auth = ref(null)
    const http_err = ref(null)
    const bookings_list = ref([])
    const bookings_pagination = ref({
        past: false
    })

    async function loadBookings() {
        let date_query = bookings_pagination.value.past ? "to" : "from"
        let now = new Date()
        http_err.value = null
        fetch(SERVER_URL + "/bookings?person_id=" + auth.value.id + "&" + date_query + "=" + now.toISOString(), {
            headers: {
                'Authorization': 'Bearer ' + auth.value.access_token
            },
            withCredentials: true,
            credentials: 'include'
        }).then(res => {
            if (!res.ok) throw res
            return res.json()
        }).then(bookings => {
            bookings_list.value = bookings
        }).catch(err => {
            err.text().then(error_text => http_err.value = error_text)
        })
    }

    async function cancelBooking(booking) {
        http_err.value = null
        fetch(SERVER_URL + "/bookings?person_id=" + booking.person_id + "&session_id=" + booking.session_id, {
            method: "DELETE",
            headers: {
                'Authorization': 'Bearer ' + auth.value.access_token
            },
            withCredentials: true,
            credentials: 'include'
        }).then(res => {
            if (!res.ok) throw res
            return res.json()
        }).then(deleted_booking => {
            if (deleted_booking && deleted_booking.person_id === booking.person_id && deleted_booking.session_id === booking.session_id) {
                let index = bookings_list.value.indexOf(booking)
                if (index >= 0) {
                    bookings_list.value.splice(index, 1)
                }
            }
        }).catch(err => {
            err.text().then(error_text => http_err.value = error_text)
        })
    }

    function setPageFuture() {
        bookings_pagination.value.past = false
        loadBookings()
    }

    function setPagePast() {
        bookings_pagination.value.past = true
        loadBookings()
    }

    function isAdmin(auth) {
        return auth && auth.roles && (auth.roles.includes('admin') || auth.roles.includes('trainer'))
    }

    function encodeLoginReturnUrl() {
        return encodeURIComponent(window.location.pathname + window.location.hash)
    }

    createApp({
        setup() {
            return {
                auth, http_err, onLogout,
                bookings_list, cancelBooking,
                bookings_pagination, setPageFuture, setPagePast,
                displayDate, displayTime, isAdmin, encodeLoginReturnUrl
            }
        }
    }).mount('#app')

    let jwtRaw = localStorage.getItem("jwt")
    if (jwtRaw) {
        auth.value = JSON.parse(jwtRaw)
        loadBookings()
    } else {
        auth.value = null
    }

</script>