<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Another Level &ndash; Create/Edit Session</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#333333">

    <link href="styles/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <style>
        [v-cloak] {
            display: none;
        }
        input[type="number"].no-spinner::-webkit-outer-spin-button,
        input[type="number"].no-spinner::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
        input[type="number"].no-spinner {
            -moz-appearance: textfield;
        }
    </style>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/utils.js"></script>
    <script src="js/lodash.min.js"></script>
</head>

<body>
<div id="app">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary" role="navigation">
        <div class="container-fluid">
            <!-- Another Level brand -->
            <a class="navbar-brand" href="index.html"><img src="img/alcf_logo_white.png" alt="Another Level Logo" width="30" height="24" class="d-inline-block align-text-top"> Another Level</a>
            <!-- Collapse state toggle button -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Navbar collapsible list -->
            <div id="navbarContent" class="collapse navbar-collapse">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="sessions.html">Sessions</a></li>
                    <li class="nav-item"><a class="nav-link" href="bookings.html">Bookings</a></li>
                    <!-- Admin only links -->
                    <li v-cloak v-if="isAdmin(auth)" class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Admin</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="members.html">Member Directory</a></li>
                            <li><a class="dropdown-item" href="stats.html">Attendance Stats</a></li>
                        </ul>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="https://chat.whatsapp.com/CPjp84Qz6uM5t9Oq88Qb4Q" target="_blank"><i class="bi bi-question-circle"></i>&nbsp;Help</a></li>
                </ul>
                <div v-cloak v-if="auth">
                    <span class="navbar-text"><a href="profile.html" style="text-decoration: none; color: var(--bs-nav-link-color)"><i class="bi bi-person-fill"></i>&nbsp;{{auth.name}}</a></span>&nbsp;
                    <button id="logout" type="button" class="btn btn-outline-danger" @click="onLogout">Logout</button>
                </div>
                <div v-else class="btn-group" role="group">
                    <a id="navbarLogin" class="btn btn-primary" href="login.html">Login</a>
                    <a id="navbarRegister" class="btn btn-primary" href="register.html">Register</a>
                </div>
            </div>
        </div>
    </nav>

    <!-- Main Content -->
    <div class="container-fluid" v-cloak>
        <div v-if="alert" class="alert my-2" :class="{'alert-danger': alert.is_error, 'alert-success': !alert.is_error}" role="alert">
            <div v-if="'authorization token expired' === alert.message">
                Your login session has expired, please <a :href="'login.html?return=' + encodeLoginReturnUrl()">login again</a>.
            </div>
            <div v-else>
                {{alert.message}}
            </div>
        </div>

        <!-- Not logged in section -->
        <div class="alert alert-danger my-2" role="alert" v-if="!auth">
            <div class="card-body text-danger">
                <p class="card-text">
                    You are not logged in. Please return to the <a :href="'login.html?return=' + encodeLoginReturnUrl()">login page</a>.
                </p>
            </div>
        </div> <!-- End not logged in section -->

        <!-- Logged in section -->
        <div id="loggedInSection" v-else>
            <h2 class="my-3">{{session_data.id ? 'Edit' : 'Create New'}} Session</h2>
            <form>
                <div class="mb-2 row"> <!-- Date, time and duration row -->
                    <div class="col-4">
                        <label for="editSessionDate" class="form-label">Date</label>
                        <input id="editSessionDate" class="form-control" :class="{'is-invalid': session_data_validation.date}" type="date" v-model="session_data.date" required>
                        <div class="invalid-feedback">
                            {{session_data_validation.date}}
                        </div>
                    </div>
                    <div class="col-4">
                        <label for="editSessionTime" class="form-label">Time</label>
                        <input id="editSessionTime" class="form-control" :class="{'is-invalid': session_data_validation.time}" type="time" list="editSessionTimeList" v-model="session_data.time" required>
                        <datalist id="editSessionTimeList">
                            <option v-for="time in suggested_session_times" :value="time"></option>
                        </datalist>
                        <div class="invalid-feedback">
                            {{session_data_validation.time}}
                        </div>
                    </div>
                    <div class="col-4">
                        <label for="editSessionDuration" class="form-label">Duration</label>
                        <div class="input-group">
                            <input id="editSessionDuration" class="form-control no-spinner" :class="{'is-invalid': session_data_validation.duration_mins}" type="number" v-model="session_data.duration_mins" required>
                            <span class="input-group-text">mins</span>
                            <div class="invalid-feedback">
                                {{session_data_validation.duration_mins}}
                            </div>
                        </div>
                    </div>
                </div>  <!-- END date, time and duration row -->

                <div class="mb-2"> <!-- trainer row -->
                    <label for="editSessionTrainer" class="form-label">Trainer</label>
                    <select id="editSessionTrainer" class="form-control" :class="{'is-invalid': session_data_validation.trainer_id}" v-model="session_data.trainer_id" required>
                        <option v-for="trainer in admin_trainer_list" :value="trainer.id">{{trainer.name}}</option>
                        <option :value="null">None</option>
                    </select>
                    <div class="invalid-feedback">
                        {{session_data_validation.trainer_id}}
                    </div>
                </div> <!-- END: trainer row -->

                <div class="mb-2"> <!-- location row -->
                    <label for="editSessionLocation" class="form-label">Location</label>
                    <select id="editSessionLocation" class="form-control" :class="{'is-invalid': session_data_validation.location_id}" v-model="session_data.location_id" required>
                        <option v-for="location in admin_location_list" :value="location.id">{{location.name}}</option>
                        <option :value="null">None/Other</option>
                    </select>
                    <div class="invalid-feedback">
                        {{session_data_validation.location_id}}
                    </div>
                </div> <!-- END location row -->

                <div class="mb-2 row"> <!-- type and limit row -->
                    <div class="col-8">
                        <label for="editSessionType" class="form-label">Type</label>
                        <select id="editSessionType" class="form-control" :class="{'is-invalid': session_data_validation.session_type_id}" v-model="session_data.session_type_id" required>
                            <option disabled value="">Type&hellip;</option>
                            <option v-for="session_type in admin_session_type_list" :value="session_type.id">{{session_type.name}}</option>
                        </select>
                        <div class="invalid-feedback">
                            {{session_data_validation.session_type_id}}
                        </div>
                    </div>
                    <div class="col-4">
                        <label for="editSessionBookingLimit" class="form-label">Max. Bookings</label>
                        <div class="input-group">
                            <div class="input-group-text">
                                <input class="form-check-input mt-0" type="checkbox" aria-label="Enable max booking limit" title="Enable max bookings limit" v-model="session_data.max_bookings_enabled">
                            </div>
                            <input id="editSessionBookingLimit" type="number" class="form-control no-spinner" v-model="session_data.max_bookings" title="Max bookings limit" :class="{'is-invalid': session_data_validation.max_bookings}" :disabled="!session_data.max_bookings_enabled" aria-label="Max bookings limit">
                            <div class="invalid-feedback">
                                {{session_data_validation.max_bookings}}
                            </div>
                        </div>
                    </div>
                </div>  <!-- END type and limit row -->

                <div class="mb-2"> <!- session notes -->
                    <label for="editSessionNotes" class="form-label">Notes</label>
                    <textarea id="editSessionNotes" class="form-control" rows="5" v-model="session_data.notes"></textarea>
                </div>

                <div class="d-flex mb-3"> <!-- save buttons -->
                    <div class="me-auto p-2">
                    </div>
                    <div class="p-2">
                        <button id="editSessionSubmit" type="button" class="btn btn-primary" :disabled="!session_data_validation.ready" @click.prevent="saveSession(session_data, false)">Save</button>
                    </div>
                    <div class="p-2">
                        <button id="editSessionSubmitAndCreate" type="button" class="btn btn-primary" :disabled="!session_data_validation.ready" @click.prevent="saveSession(session_data, true)">Save &amp; Create Another</button>
                    </div>
                </div>
            </form>
        </div> <!-- end logged in section -->
    </div> <!-- end main content -->

</div> <!-- end vue app -->
</body>
<script type="module">
    import { createApp, reactive, ref, watch } from 'https://unpkg.com/vue@3/dist/vue.esm-browser.js'

    const alert = ref(null)
    const auth = ref(null)

    const session_data = reactive({
        id: null,
        date: null,
        time: null,
        duration_mins: null,
        session_type_id: null,
        trainer_id: null,
        location_id: null,
        max_bookings_enabled: false,
        max_bookings: null,
        notes: null
    })
    const session_data_validation = ref({
        id: null,
        date: null,
        time: null,
        duration_mins: null,
        session_type_id: null,
        trainer_id: null,
        location_id: null,
        max_bookings: null,
        notes: null,
        ready: false
    })

    // Reference data
    const admin_user_data = ref(null)
    const admin_session_type_list = ref([])
    const admin_trainer_list = ref([])
    const admin_location_list = ref([])
    const suggested_session_times = ref([
        "06:00",
        "07:00",
        "08:00",
        "09:00",
        "10:00",
        "11:00",
        "12:00",
        "13:00",
        "14:00",
        "15:00",
        "16:00",
        "17:00",
        "18:00",
        "19:00",
        "20:00",
        "21:00",
        "22:00"
    ])

    async function doFetch(endpoint, onjson) {
        alert.value = null
        fetch(SERVER_URL + endpoint, {
            headers: {
                'Authorization': 'Bearer ' + auth.value.access_token
            },
            withCredentials: true,
            credentials: 'include'
        }).then(res => {
            if (!res.ok) throw res
            return res.json()
        }).then(onjson).catch(err => {
            err.text().then(error_text => {
                alert.value = {
                    message: error_text,
                    is_error: true
                }
            })
        })
    }

    async function loadAdminData() {
        admin_user_data.value = {
            count: 0,
            name_email_to_user: null
        }
        if (!isAdmin(auth.value)) {
            return
        }

        // Fetch all users and load into the admin_user_data map
        alert.value = null
        fetch(SERVER_URL + "/users/list", {
            headers: {
                'Authorization': 'Bearer ' + auth.value.access_token
            },
            withCredentials: true,
            credentials: 'include'
        }).then(res => {
            if (!res.ok) throw res
            return res.json()
        }).then(users => {
            let count = 0
            let name_email_to_user = new Map()
            for (let user of users) {
                let name_email = user.name + ' <' + user.email + '>'
                name_email_to_user.set(name_email, user)
                count++
            }
            admin_user_data.value = {
                count: count,
                name_email_to_user: name_email_to_user
            }
        }).catch(err => err.text().then(error_text => {
            alert.value = {
                message: error_text,
                is_error: true
            }
        }))


        // Fetch list of trainers
        doFetch("/users/list?role=trainer", trainers => admin_trainer_list.value = trainers)
        doFetch("/locations", locs => admin_location_list.value = locs);
        doFetch("/session_types", types => admin_session_type_list.value = types)
    }

    function isAdmin(auth) {
        return auth && auth.roles && (auth.roles.includes('admin') || auth.roles.includes('trainer'))
    }
    function encodeLoginReturnUrl() {
        return encodeURIComponent(window.location.pathname + window.location.hash)
    }

    async function loadSession() {
        const urlParams = new URLSearchParams(window.location.search)
        const editSessionId = urlParams.get("edit")
        const copySessionId = urlParams.get("copy")

        if (editSessionId) {
            // Get data from an existing session including its ID
            doFetch("/sessions/" + editSessionId, session => {
                session_data.id = session.id
                copySessionFields(session, session_data)
            })
        } else if (copySessionId) {
            // Get data from an existing session but leave our session ID blank
            // to force creation instead of edit.
            doFetch("/sessions/" + copySessionId, session => {
                copySessionFields(session, session_data)
            })
        }
    }

    function copySessionFields(from_session, to_session) {
        let dt = new Date(from_session.datetime)
        to_session.date = String(dt.getFullYear()).padStart(4, '0') + '-' + String(dt.getMonth() + 1).padStart(2, '0') + '-' + String(dt.getDate()).padStart(2, '0')
        to_session.time = String(dt.getHours()).padStart(2, '0') + ':' + String(dt.getMinutes()).padStart(2, '0')
        to_session.duration_mins = from_session.duration_mins
        to_session.session_type_id = from_session.session_type.id
        to_session.trainer_id = from_session.trainer ? from_session.trainer.id : null
        to_session.location_id = from_session.location ? from_session.location.id : null
        to_session.max_bookings_enabled = from_session.max_booking_count !== null
        to_session.max_bookings = from_session.max_booking_count
        to_session.notes = from_session.notes
    }

    async function saveSession(session, createAnother) {
        let datetime = new Date(session.date + " " + session.time)
        let request = {
            datetime: datetime.toISOString(),
            duration_mins: session.duration_mins,
            session_type_id: session.session_type_id,
            location_id: session.location_id,
            trainer_id: session.trainer_id,
            max_bookings: session.max_bookings_enabled ? session.max_bookings : null,
            notes: session.notes
        }
        alert.value = null
        let url = session.id ? "/sessions/" + session.id : "/sessions"
        fetch(SERVER_URL + url, {
            method: session.id ? "PUT" : "POST",
            headers: {
                'Authorization': 'Bearer ' + auth.value.access_token
            },
            body: JSON.stringify(request),
            withCredentials: true,
            credentials: 'include'
        }).then(res => {
            if (!res.ok) throw res
            if (res.status === 201) { // Created new session
                res.json().then(json => document.location = (createAnother ? "?copy=" : "?edit=") + json.id)
            } else if (createAnother) {
                document.location = "?copy=" + session.id
            } else {
                alert.value = {
                    message: "Saved!",
                    is_error: false
                }
            }
        }).catch(err => {
            err.text().then(err_text => {
                alert.value = {
                    message: err_text,
                    is_error: true
                }
            })
        })
    }

    function validateEditSession(new_data, val) {
        val.date = new_data.date ? null : "Date is required"
        val.time = new_data.time ? null : "Time is required"

        val.trainer_id = null
        if (new_data.session_type_id) {
            val.session_type_id = null
            if (new_data.trainer_id === null) {
                for (var session_type of admin_session_type_list.value) {
                    if (session_type.id === new_data.session_type_id && session_type.requires_trainer) {
                        val.trainer_id = "Sessions of type '" + session_type.name + "' require a trainer to be selected."
                    }
                }
            }
        } else {
            val.session_type_id = "Session type must be selected"
        }
        val.duration_mins = new_data.duration_mins !== null && new_data.duration_mins >= 0 ? null : "Duration must be positive"
        // val.trainer_id = new_data.trainer_id ? null : "Trainer must be selected"
        // val.location_id = new_data.location_id ? null : "Location must be selected"
        val.max_bookings = (!new_data.max_bookings_enabled || (new_data.max_bookings !== null && new_data.max_bookings >= 0)) ? null : "Max bookings must be positive if enabled"

        val.ready = val.date === null &&
            val.time === null &&
            val.session_type_id === null &&
            val.duration_mins === null &&
            val.trainer_id === null &&
            // val.location_id === null &&
            val.max_bookings === null
    }

    watch(session_data, new_data => validateEditSession(new_data, session_data_validation.value))

    let jwtRaw = localStorage.getItem("jwt")
    if (jwtRaw) {
        auth.value = JSON.parse(jwtRaw)
        loadAdminData().then(_ => loadSession())
    }

    createApp({
        setup() {
            return {
                alert, auth,
                session_data, session_data_validation,
                admin_user_data, admin_trainer_list, admin_session_type_list, admin_location_list, suggested_session_times,
                saveSession, isAdmin, onLogout, encodeLoginReturnUrl
            }
        }
    }).mount('#app')

</script>
</html>
