<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Another Level &ndash; Login</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#333333">

    <link href="styles/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/utils.js"></script>
</head>

<body>
<div id="app">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary" role="navigation">
        <div class="container-fluid">
            <!-- Another Level brand -->
            <a class="navbar-brand" href="index.html"><img src="img/alcf_logo_white.png" alt="Another Level Logo" width="30" height="24" class="d-inline-block align-text-top"> Another Level</a>
            <!-- Collapse state toggle button -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Navbar collapsible list -->
            <div id="navbarContent" class="collapse navbar-collapse">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="sessions.html">Sessions</a></li>
                    <li class="nav-item"><a class="nav-link" href="bookings.html">Bookings</a></li>
                    <div v-cloak v-if="auth && isAdmin(auth)"> <!-- Admin only links -->
                        <li class="nav-item"><a class="nav-link" href="members.html">Members</a></li>
                    </div>
                    <li class="nav-item"><a class="nav-link" href="https://chat.whatsapp.com/CPjp84Qz6uM5t9Oq88Qb4Q" target="_blank"><i class="bi bi-question-circle"></i>&nbsp;Help</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Main Content -->
    <div id="mainContent" class="container-lg" v-cloak>
        <div id="errorReport" class="alert alert-danger my-2" v-if="http_err">
            {{http_err}}
        </div>

        <!-- Already logged in section -->
        <div id="alreadyLoggedIn" class="card border-success my-2" v-if="auth">
            <div class="card-body text-success">
                <p class="card-text">You are logged in as {{auth.name}}. Open the <a href="sessions.html">sessions page</a> or <a href="#" @click.prevent="onLogout">login as a different user</a>.</p>
            </div>
        </div>

        <div class="row mx-0 my-2" v-else>
            <!-- Existing User Login col -->
            <div class="col-8 p-0">
                <!-- Login form -->
                <div class="card me-2">
                    <h5 class="card-header">
                        Existing User Login
                    </h5>
                    <div class="card-body">

                    <form @submit.prevent="onLogin">
                        <div class="mb-3">
                            <label for="inputEmail" class="form-label">Email Address:</label>
                            <input type="email" class="form-control" :class="{'is-invalid': user_data_val.email}" id="inputEmail" aria-describedby="emailHelp" v-model="user_data.email" required>
                            <div class="invalid-feedback">
                                {{user_data_val.email}}
                            </div>
                        </div>

                        <div v-if="!user_data.show_forgotten">
                            <div class="mb-3">
                                <label for="inputPassword" class="form-label">Password</label>
                                <input type="password" class="form-control" id="inputPassword" v-model="user_data.password">
                            </div>
                            <button id="loginSubmit" type="submit" class="btn btn-primary" :disabled="!user_data_val.ready">Login</button> <a href="#" @click.prevent="onForgottenPassword">Forgotten&nbsp;my&nbsp;password</a>
                        </div>
                    </form>

                    <div v-if="user_data.show_forgotten">
                        <p class="card-text">If you have forgotten your password, enter your email address above and click &ldquo;Reset&rdquo;. If an account exists with that address, then an email will be sent containing reset instructions.</p>
                        <button id="forgottenPasswordSubmit" type="button" class="btn btn-danger" :disabled="!user_data_val.ready" @click.prevent="onResetPassword">Reset</button> <button type="button" class="btn btn-outline-secondary" @click.prevent="onUnforgottenPassword">Cancel</button>
                        <div v-if="reset_password_result">
                            <div :class="{'text-danger': reset_password_result.is_error}">{{reset_password_result.message}}</div>
                        </div>
                    </div>
                    </div>
                </div> <!-- end user welcome/login -->
            </div> <!-- end existing user login col -->

            <!-- New User Col -->
            <div class="col-4 p-0">
                <div class="card ms-2">
                    <h5 class="card-header">
                        New Users
                    </h5>
                    <div class="card-body text-center">
                        <a href="/register.html" class="btn btn-primary">Sign Up!</a>
                    </div>
                </div>
            </div> <!-- end new user col -->
        </div> <!-- end row -->

    </div> <!-- end main content -->
</div>
<div class="sticky-bottom bg-body">
    <div class="container-lg my-3 px-3">
        <p>&copy; 2024 Neil Bartlett all rights reserved. ALCFv001.</p>
    </div>
</div>
</body>

<script type="module">
    import { createApp, reactive, ref, watch } from './js/vue.esm-browser.js'

    const url_params = new URLSearchParams(window.location.search)
    const user_data = reactive({
        email: url_params.get("email"),
        password: "",
        show_forgotten: false
    })
    const user_data_val = ref({
        email: null,
        ready: false
    })

    const http_err = ref(null)
    const auth = ref(null)
    const reset_password_result = ref(null)

    async function onLogin() {
        http_err.value = null
        fetch(SERVER_URL + "/login", {
            method: "POST",
            headers: {"Content-Type": "application/json"},
            body: JSON.stringify({
                email: user_data.email,
                password: user_data.password
            })
        }).then(res => {
            if (!res.ok) throw res
            return res.json()
        }).then(json => {
            auth.value = json
            localStorage.setItem("jwt", JSON.stringify(json))
            window.location.href = "sessions.html"
        }).catch(error => {
            error.text().then(error_text => {
                auth.value = null
                http_err.value = error_text
            })
        })
    }

    async function onResetPassword() {
        reset_password_result.value = {
            message:  "Processing...",
            is_error: false
        }
        http_err.value = null
        fetch(SERVER_URL + "/request_pwd_reset", {
            method: "POST",
            headers: {"Content-Type": "application/json"},
            body: JSON.stringify({
                email: user_data.email,
                website_url: document.location.host,
                reset_url: new URL("/passwordreset.html", document.location).href
            })
        }).then(res => {
            if (!res.ok) throw res
            return res.text()
        }).then(text => {
            reset_password_result.value = {
                message: text,
                is_error: false
            }
            window.location.href = "passwordreset.html?email=" + encodeURIComponent(user_data.email)
        }).catch(error => {
            error.text().then(error_text => {
                reset_password_result.value = {
                    message:  error_text,
                    is_error: true
                }
            })
        })
    }

    async function onForgottenPassword() {
        user_data.show_forgotten = true
    }

    async function onUnforgottenPassword() {
        user_data.show_forgotten = false
    }

    function isAdmin(auth) {
        return auth && (auth.roles.includes('admin') || auth.roles.includes('trainer'))
    }

    watch(user_data, async (new_data, old_data) => {
        let val = user_data_val.value
        val.email = validateEmail(new_data.email) ? null : "Enter a valid email address"

        val.ready = val.email === null
    })

    createApp({
        setup() {
            return {
                // Data
                auth, user_data, user_data_val, http_err, reset_password_result,
                // Callbacks
                onLogin, onForgottenPassword, onUnforgottenPassword, onResetPassword, onLogout, isAdmin
            }
        }
    })
    .mount('#app')

    getValidatedAuthToken().then(a => auth.value = a)
</script>
</html>
