<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">

    <!-- CSS Reset -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">

    <!-- Milligram CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">

    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div id="app">
    <form @submit.prevent="onLogin">
        <fieldset>
            <legend>Login</legend>
            <input type="email" placeholder="Email Address" v-model="data.username"/>
            <input type="password" placeholder="Password" v-model="data.password"/>
            <button type="submit" class="pure-button pure-button-primary">Sign In</button>
        </fieldset>
    </form>
    <p>Raw data:</p>
    <pre>{{data}}</pre>
    <p>Raw auth_token:</p>
    <pre>{{auth_token}}</pre>
</div>
</body>

<script type="module">
    import { createApp, ref } from 'https://unpkg.com/vue@3/dist/vue.esm-browser.js'

    const data = ref({
        username: "username@a.com",
        password: "password"
    })

    const auth_token = ref({})

    const error = ref(null)

    async function onLogin() {
        fetch("http://localhost:8000/authenticate", {
            method: "POST",
            headers: { "Content-Type": "application/json"},
            body: JSON.stringify(data.value)
        }).then(res => {
            console.log("Request complete: ", res)
            return res.json();
        }).then(json => {
            console.log("Auth response: ", json);
            auth_token.value = json;
        });
    }

    createApp({
        setup() {
            return { data, auth_token, onLogin }
        }
    })
    .mount('#app')
</script>
