<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>FitNext &ndash; Password Reset</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>💪</text></svg>">

    <link href="styles//bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>

<body>
<div id="app">
    <!-- Navbar -->
    <nav class="navbar navbar-expand navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">💪 FitNext</a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item"><a class="nav-link" href="sessions.html">Sessions</a></li>
                    <li class="nav-item"><a class="nav-link" href="bookings.html">Bookings</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Main Content -->
    <div class="container-lg" v-cloak>
        <div class="card shadow m-2">
            <h5 class="card-header">Password Reset</h5>
            <div class="card-body">
                <form @submit.prevent="onSubmit">
                    <div class="mb-3">
                        <label for="inputEmail" class="form-label">Email Address:</label>
                        <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" v-model="user_data.email">
                    </div>
                    <div class="mb-3">
                        <label for="inputTempPassword" class="form-label">Temporary Password (from email):</label>
                        <input class="form-control" id="inputTempPassword" v-model="user_data.temp_password" autocomplete="off">
                    </div>
                    <div class="mb-3">
                        <label for="inputNewPassword" class="form-label">New Password:</label>
                        <input type="password" class="form-control" id="inputNewPassword" v-model="user_data.new_password" @input="onChangePasswordInput()">
                    </div>
                    <div class="mb-3">
                        <label for="inputNewPasswordRepeat" class="form-label">Repeat New Password:</label>
                        <input type="password" class="form-control" id="inputNewPasswordRepeat" v-model="user_data.new_password_repeat" @input="onChangePasswordInput()">
                    </div>
                    <ul>
                        <li v-for="err in user_data.validation_errs" class="text-danger">{{err}}</li>
                    </ul>
                    <button id="changePasswordSubmit" type="submit" class="btn btn-danger" :disabled="!user_data.validation_ok">Update Password</button>
                    <div v-if="reset_password_result">
                        <div :class="{'text-danger': reset_password_result.is_error}">{{reset_password_result.message}}</div>
                    </div>
                </form>
            </div> <!-- end card body -->
        </div> <!-- end card -->
    </div> <!-- end main content -->

</div> <!-- End App -->
<div style="position: absolute; bottom: 0;">
    &copy;2024 Neil Bartlett, all rights reserved. Page version 201
</div>
</body>

<script src="js/utils.js"></script>
<script type="module">
    import { createApp, ref } from './js/vue.esm-browser.js'

    const url_params = new URLSearchParams(window.location.search)
    const user_data = ref({
        email: url_params.get('email'),
        temp_password: url_params.get('temp_pwd'),
        new_password: "",
        new_password_repeat: "",
        validation_ok: false,
        validation_errs: []
    })
    const reset_password_result = ref(null)

    function onChangePasswordInput() {
        var errs = []
        if (user_data.value.new_password === user_data.value.temp_password) {
            errs.push("New password cannot be the same as the temporary password")
        }
        if (user_data.value.new_password.length < 8) {
            errs.push("Password must be at least 8 characters long")
        }
        if (user_data.value.new_password !== user_data.value.new_password_repeat) {
            errs.push("Passwords do not match")
        }
        user_data.value.validation_errs = errs
        user_data.value.validation_ok = errs.length === 0
    }

    async function onSubmit() {
        reset_password_result.value = {
            message: "Processing...",
            is_error: false
        }
        fetch(SERVER_URL + "/reset_pwd", {
            method: "POST",
            headers: {"Content-Type": "application/json"},
            body: JSON.stringify({
                email: user_data.value.email,
                temp_password: user_data.value.temp_password,
                new_password: user_data.value.new_password
            })
        }).then(res => {
            if (!res.ok) throw res
            reset_password_result.value = {
                message: "Password successfully updated! Redirecting back to login...",
                is_error: false
            }
            setTimeout((data => window.location.href = "/login.html?email=" + encodeURIComponent(user_data.value.email)), REDIRECT_TIMEOUT)
        }).catch(error => {
            error.text().then(error_text => {
                reset_password_result.value = {
                    message:  error_text,
                    is_error: true
                }
            })
        })
    }

    createApp({
        setup() {
            return {
                // Data
                user_data, reset_password_result,

                // Callback functions
                onChangePasswordInput, onSubmit
            }
        }
    }).mount("#app")
</script>