<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Another Level &ndash; Password Reset</title>
    <link rel="icon" href="img/favicon.png">

    <link href="styles//bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/utils.js"></script>
</head>

<body>
<div id="app">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary" role="navigation">
        <div class="container-fluid">
            <!-- Another Level brand -->
            <a class="navbar-brand" href="index.html"><img src="img/alcf_logo_white.png" alt="Another Level Logo" width="30" height="24" class="d-inline-block align-text-top"> Another Level</a>
            <!-- Collapse state toggle button -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Navbar collapsible list -->
            <div id="navbarContent" class="collapse navbar-collapse">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="sessions.html">Sessions</a></li>
                    <li class="nav-item"><a class="nav-link" href="bookings.html">Bookings</a></li>
                </ul>
                <div v-cloak v-if="auth">
                    <span class="navbar-text"><a href="profile.html" style="text-decoration: none; color: var(--bs-nav-link-color)"><i class="bi bi-person-fill"></i>&nbsp;{{auth.name}}</a></span>&nbsp;
                    <button id="logout" type="button" class="btn btn-outline-danger" @click="onLogout">Logout</button>
                </div>
                <div v-else class="btn-group" role="group">
                    <a id="navbarLogin" class="btn btn-primary" href="login.html">Login</a>
                    <a id="navbarRegister" class="btn btn-primary" href="register.html">Register</a>
                </div>
            </div>
        </div>
    </nav>

    <!-- Main Content -->
    <div class="container-lg" v-cloak>
        <div class="card m-2">
            <h5 class="card-header">Password Reset</h5>
            <div class="card-body">
                <form @submit.prevent="onSubmit">
                    <div class="mb-3">
                        <label for="inputEmail" class="form-label">Email Address:</label>
                        <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" v-model="user_data.email">
                    </div>
                    <div class="mb-3">
                        <label for="inputTempPassword" class="form-label">Temporary Password (from email):</label>
                        <input class="form-control" id="inputTempPassword" v-model="user_data.temp_password" autocomplete="off">
                    </div>
                    <div class="mb-3">
                        <label for="inputNewPassword" class="form-label">New Password:</label>
                        <input type="password" class="form-control" id="inputNewPassword" v-model="user_data.new_password" @input="onChangePasswordInput()">
                    </div>
                    <div class="mb-3">
                        <label for="inputNewPasswordRepeat" class="form-label">Repeat New Password:</label>
                        <input type="password" class="form-control" id="inputNewPasswordRepeat" v-model="user_data.new_password_repeat" @input="onChangePasswordInput()">
                    </div>
                    <ul>
                        <li v-for="err in user_data.validation_errs" class="text-danger">{{err}}</li>
                    </ul>
                    <button id="changePasswordSubmit" type="submit" class="btn btn-danger" :disabled="!user_data.validation_ok">Update Password</button>
                    <div v-if="reset_password_result">
                        <div :class="{'text-danger': reset_password_result.is_error}">{{reset_password_result.message}}</div>
                    </div>
                </form>
            </div> <!-- end card body -->
        </div> <!-- end card -->
    </div> <!-- end main content -->

</div> <!-- End App -->
<div class="sticky-bottom bg-body">
    <div class="container-lg my-3 px-3">
        <p>&copy; 2024 Neil Bartlett all rights reserved. ALCFv001.</p>
    </div>
</div>
</body>

<script type="module">
    import { createApp, ref } from './js/vue.esm-browser.js'

    const url_params = new URLSearchParams(window.location.search)
    const user_data = ref({
        email: url_params.get('email'),
        temp_password: url_params.get('temp_pwd'),
        new_password: "",
        new_password_repeat: "",
        validation_ok: false,
        validation_errs: []
    })
    const auth = ref([])
    const reset_password_result = ref(null)

    function onChangePasswordInput() {
        var errs = []
        if (user_data.value.new_password === user_data.value.temp_password) {
            errs.push("New password cannot be the same as the temporary password")
        }
        if (user_data.value.new_password.length < 8) {
            errs.push("Password must be at least 8 characters long")
        }
        if (user_data.value.new_password !== user_data.value.new_password_repeat) {
            errs.push("Passwords do not match")
        }
        user_data.value.validation_errs = errs
        user_data.value.validation_ok = errs.length === 0
    }

    async function onSubmit() {
        reset_password_result.value = {
            message: "Processing...",
            is_error: false
        }
        fetch(SERVER_URL + "/reset_pwd", {
            method: "POST",
            headers: {"Content-Type": "application/json"},
            body: JSON.stringify({
                email: user_data.value.email,
                temp_password: user_data.value.temp_password,
                new_password: user_data.value.new_password,
                website_url: document.location.host
            })
        }).then(res => {
            if (!res.ok) throw res
            localStorage.removeItem("jwt") // Clear the current access token, forcing a re-login
            reset_password_result.value = {
                message: "Password successfully updated! Redirecting back to login...",
                is_error: false
            }
            setTimeout((data => window.location.href = "/login.html?email=" + encodeURIComponent(user_data.value.email)), REDIRECT_TIMEOUT)
        }).catch(error => {
            error.text().then(error_text => {
                reset_password_result.value = {
                    message:  error_text,
                    is_error: true
                }
            })
        })
    }

    createApp({
        setup() {
            return {
                // Data
                user_data, reset_password_result, auth,

                // Callback functions
                onChangePasswordInput, onSubmit, onLogout
            }
        }
    }).mount("#app")

    let jwtRaw = localStorage.getItem("jwt")
    if (jwtRaw) {
        auth.value = JSON.parse(jwtRaw)
    } else {
        auth.value = null
    }

</script>