<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Another Level &dash; My Profile</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#333333">

    <link href="styles/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <style>
        [v-cloak] {
            display: none;
        }
        .form-control-danger::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: #dc3545;
            opacity: 1; /* Firefox */
        }

        .form-control-danger:-ms-input-placeholder { /* Internet Explorer 10-11 */
            color: #dc3545;
        }

        .form-control-danger::-ms-input-placeholder { /* Microsoft Edge */
            color: #dc3545;
        }

    </style>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/utils.js"></script>
</head>

<body>
<div id="app">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary" role="navigation">
        <div class="container-fluid">
            <!-- Another Level brand -->
            <a class="navbar-brand" href="index.html"><img src="img/alcf_logo_white.png" alt="Another Level Logo" width="30" height="24" class="d-inline-block align-text-top"> Another Level</a>
            <!-- Collapse state toggle button -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Navbar collapsible list -->
            <div id="navbarContent" class="collapse navbar-collapse">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="sessions.html">Sessions</a></li>
                    <li class="nav-item"><a class="nav-link" href="bookings.html">Bookings</a></li>
                </ul>
                <div v-cloak v-if="auth">
                    <span class="navbar-text"><i class="bi bi-person-fill"></i>&nbsp;{{auth.name}}</span>&nbsp;
                    <button id="logout" type="button" class="btn btn-outline-danger" @click="onLogout">Logout</button>
                </div>
            </div>
        </div>
    </nav>

    <!-- Main Content -->
    <div class="container-lg" v-cloak>
        <!-- REST errors -->
        <div v-if="http_err" class="alert alert-danger my-2" role="alert">
            <div v-if="'authorization token expired' === http_err">
                Your login session has expired, please <a href="login.html">login again</a>.
            </div>
            <div v-else>
                {{http_err}}
            </div>
        </div>

        <!-- Not logged in section -->
        <div class="alert alert-danger my-2" role="alert" v-if="!auth">
            <div class="card-body text-danger">
                <p class="card-text">
                    You are not logged in. Please return to the <a href="login.html">login page</a>.
                </p>
            </div>
        </div> <!-- End not logged in section -->

        <!-- Logged in section -->
        <div id="loggedInSection" v-if="auth">

            <!-- Show profile -->
            <div class="card my-3">
                <h5 class="card-header"><i class="bi bi-person-fill"></i> My Profile</h5>
                <div class="card-body">
                    <!-- Profile table -->
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>Name</td><td>{{auth.name}}</td>
                            </tr>
                            <tr>
                                <td>Email</td><td>{{auth.email}}</td>
                            </tr>
                            <tr>
                                <td>Roles</td>
                                <td>
                                    <span v-for="role in auth.roles">
                                        <span class="badge rounded-pill text-bg-primary">{{role}}</span>&nbsp;
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td>Password</td>
                                <td>
                                    <button class="btn btn-sm btn-outline-secondary" @click.prevent="onResetPassword">Reset</button> <span class="text-secondary">Send a password reset email.</span>
                                    <br>
                                    <span v-if="reset_password_message.message" :class="{'text-danger': reset_password_message.is_error}">{{reset_password_message.message}}</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div> <!-- end show profile card body -->
            </div> <!-- end show profile card -->

            <!-- Delete profile card -->
            <div class="card border-danger">
                <div class="card-header bg-danger-subtle">
                    <div class="row">
                        <div class="col-10 fs-5">
                            <i class="bi bi-trash"></i> Delete My Profile
                        </div>
                        <div class="col-2 text-end">
                            <button class="btn btn-sm btn-outline-danger" type="button" data-bs-toggle="collapse" data-bs-target="#deletionArea"><i class="bi bi-chevron-expand"></i></button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div id="deletionArea" class="collapse">
                        <p>Delete your profile PERMANENTLY along with all data that we hold about you. This includes personal details, bookings, and attendance records.</p>
                        <p>This cannot be undone!!</p>
                        <p>To proceed, please click &ldquo;Unlock&rdquo; then enter your password and click the Delete button.</p>
                        <form>
                            <div class="form-check mb-2">
                                <input id="deleteProfileUnlock" type="checkbox" class="form-check-input" v-model="delete_profile.unlock">
                                <label for="deleteProfileUnlock" class="form-check-label text-danger">Unlock</label>&nbsp;
                            </div>
                            <div class="input-group">
                                <input id="deleteProfilePassword" class="form-control form-control-danger border-danger" type="password" :disabled="!delete_profile.unlock" placeholder="Enter password" v-model="delete_profile.password">
                                <button class="btn btn-outline-danger btn-sm" type="button" :disabled="!delete_profile.unlock || delete_profile.password.length === 0" @click.prevent="onDeleteProfile">Delete My Profile</button>&nbsp;
                            </div>
                            <span v-if="delete_profile_message.message" :class="{'text-danger': delete_profile_message.is_error}">{{delete_profile_message.message}}</span>
                        </form>
                    </div>
                </div> <!-- end delete profile card body -->
            </div> <!-- end delete profile card -->
        </div> <!-- End logged in section -->

    </div> <!-- end main content -->
</div> <!-- end Vue app -->

<div class="sticky-bottom bg-body">
    <div class="container-lg my-3 px-3">
        <p>&copy; 2024 Neil Bartlett all rights reserved. ALCFv001.</p>
    </div>
</div>
</body>

<script type="module">
    import { createApp, reactive, ref, watch } from './js/vue.esm-browser.js'

    const auth = ref(null)
    const http_err = ref(null)
    const reset_password_message = ref({
        message: null,
        is_error: false
    })
    const delete_profile = ref({
        password: "",
        unlock: false
    })
    const delete_profile_message = ref({
        message: null,
        is_error: false
    })

    async function onResetPassword() {
        reset_password_message.value = {
            message: "Processing...",
            is_error: false
        }
        fetch(SERVER_URL + "/request_pwd_reset", {
            method: "POST",
            headers: {"Content-Type": "application/json"},
            body: JSON.stringify({
                email: auth.value.email,
                website_url: document.location.host,
                reset_url: new URL("/passwordreset.html", document.location).href
            })
        }).then(res => {
            if (!res.ok) throw res
            return res.text()
        }).then(text => {
            reset_password_message.value = {
                message: text,
                is_error: false
            }
            localStorage.removeItem("jwt")
            window.location.href = "/passwordreset.html?email=" + encodeURIComponent(auth.value.email)
        }).catch(error => {
            error.text().then(error_text => {
                reset_password_message.value = {
                    message: error_text,
                    is_error: true
                }
            })
        })
    }

    async function onDeleteProfile() {
        delete_profile_message.value = {
            message: "Processing...",
            is_error: false
        }
        fetch(SERVER_URL + "/users/" + auth.value.id, {
            method: "DELETE",
            headers: {
                "Content-Type": "application/json",
                "Authorization": "Bearer " + auth.value.access_token
            },
            body: JSON.stringify({
                password: delete_profile.value.password,
                website_url: document.location.host
            })
        }).then(res => {
            if (!res.ok) throw res
        }).then(_ => {
            delete_profile_message.value = {
                message: "Profile deleted. Redirecting to home page.",
                is_error: false
            }
            localStorage.removeItem("jwt")
            setTimeout(_ => window.location.href = "/", 1000)
        }).catch(err => err.text().then(err_text => {
            delete_profile_message.value = {
                message: err_text,
                is_error: true
            }
        }))
    }


    createApp({
        setup() {
            return {
                auth, http_err, reset_password_message, delete_profile, delete_profile_message,
                onResetPassword, onLogout, onDeleteProfile
            }
        }
    }).mount('#app')

    let jwtRaw = localStorage.getItem("jwt")
    if (jwtRaw) {
        auth.value = JSON.parse(jwtRaw)
    } else {
        auth.value = null
    }

</script>