<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Another Level &ndash; Sessions</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#333333">

    <link href="styles/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <style>
        [v-cloak] {
            display: none;
        }
        input[type="number"].no-spinner::-webkit-outer-spin-button,
        input[type="number"].no-spinner::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
        input[type="number"].no-spinner {
            -moz-appearance: textfield;
        }
    </style>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/utils.js"></script>
</head>

<body>
<div id="app">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary" role="navigation">
        <div class="container-fluid">
            <!-- Another Level brand -->
            <a class="navbar-brand" href="index.html"><img src="img/alcf_logo_white.png" alt="Another Level Logo" width="30" height="24" class="d-inline-block align-text-top"> Another Level</a>
            <!-- Collapse state toggle button -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Navbar collapsible list -->
            <div id="navbarContent" class="collapse navbar-collapse">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
                    <li class="nav-item"><a class="nav-link active" aria-current="page">Sessions</a></li>
                    <li class="nav-item"><a class="nav-link" href="bookings.html">Bookings</a></li>
                    <div v-cloak v-if="isAdmin(auth)"> <!-- Admin only links -->
                        <li class="nav-item"><a class="nav-link" href="members.html">Members</a></li>
                    </div>
                    <li class="nav-item"><a class="nav-link" href="https://chat.whatsapp.com/CPjp84Qz6uM5t9Oq88Qb4Q" target="_blank"><i class="bi bi-question-circle"></i>&nbsp;Help</a></li>
                </ul>
                <div v-cloak v-if="auth">
                    <span class="navbar-text"><a href="profile.html" style="text-decoration: none; color: var(--bs-nav-link-color)"><i class="bi bi-person-fill"></i>&nbsp;{{auth.name}}</a></span>&nbsp;
                    <button id="logout" type="button" class="btn btn-outline-danger" @click="onLogout">Logout</button>
                </div>
                <div v-else class="btn-group" role="group">
                    <a id="navbarLogin" class="btn btn-primary" href="login.html">Login</a>
                    <a id="navbarRegister" class="btn btn-primary" href="register.html">Register</a>
                </div>
            </div>
        </div>
    </nav>

    <!-- Main Content -->
    <div class="container-fluid" v-cloak>
        <!-- REST errors -->
        <div v-if="http_err" class="alert alert-danger my-2" role="alert">
            <div v-if="'authorization token expired' === http_err">
                Your login session has expired, please <a href="login.html">login again</a>.
            </div>
            <div v-else>
                {{http_err}}
            </div>
        </div>

        <!-- Not logged in section -->
        <div class="alert alert-danger my-2" role="alert" v-if="!auth">
            <div class="card-body text-danger">
                <p class="card-text">
                    You are not logged in. Please return to the <a href="login.html">login page</a>.
                </p>
            </div>
        </div> <!-- End not logged in section -->

        <!-- Logged in section -->
        <div id="loggedInSection" v-else>
            <h2 class="my-3">Sessions Available</h2>
            <!-- Show sessions -->
            <nav aria-label="Session Pagination" class="my-3">
                <ul class="pagination justify-content-center">
                    <li class="page-item" :class="{ active: session_pagination.page === 0 }"><a class="page-link" @click.stop="setSessionPage(0)">This Week</a></li>
                    <li class="page-item" :class="{ active: session_pagination.page === 1 }"><a class="page-link" @click.stop="setSessionPage(1)">Next Week</a></li>
                    <li class="page-item" :class="{ active: session_pagination.page === 2 }"><a class="page-link" @click.stop="setSessionPage(2)">+2 Weeks</a></li>
                    <li class="page-item" :class="{ active: session_pagination.page === 3 }"><a class="page-link" @click.stop="setSessionPage(3)">+3 Weeks</a></li>
                </ul>
            </nav> <!-- end session table pagination -->

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Date & Time</th>
                        <th scope="col">Trainer</th>
                        <th scope="col">Type & Location</th>
                        <th scope="col"></th>
                        <th v-if="auth.roles.includes('member')" scope="col">Actions</th>
                        <th v-if="isAdmin(auth)" scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="session in session_data">
                        <td>{{displayDate(session.datetime)}} {{displayTime(session.datetime)}}</td>
                        <td>{{session.trainer.name}}</td>
                        <td>{{session.session_type.name}}, <a :href="'http://www.google.com/maps/search/' + encodeURIComponent(session.location.address)" target="_blank">{{session.location.name}}</a></td>
                        <td>
                            <span v-if="session.max_booking_count" class="badge rounded-pill"
                                  :class="{'text-bg-danger': session.booking_count >= session.max_booking_count, 'text-bg-primary': session.booking_count < session.max_booking_count}"
                                  :title="session.booking_count + ' member(s) booked of maximum ' + session.max_booking_count">
                                {{session.booking_count}}/{{session.max_booking_count}}
                            </span>
                            <span v-else class="badge rounded-pill text-bg-primary" :title="session.booking_count + ' member(s) booked'">
                                {{session.booking_count}}
                            </span>
                        </td>
                        <!-- Member book/cancel -->
                        <td v-if="auth.roles.includes('member')">
                            <span v-if="session.booked">
                                <span>Booked!</span> <a href="#" class="link-danger" @click.prevent="cancelBooking(session)">Cancel</a>
                            </span>
                            <div v-else>
                                <span v-if="session.max_booking_count && session.booking_count >= session.max_booking_count" class="text-secondary">
                                    Fully booked
                                </span>
                                <span v-else>
                                    <a href="#" @click.prevent="bookSession(session)">Book</a>
                                </span>
                            </div>
                        </td>
                        <!-- Admin actions -->
                        <td v-if="isAdmin(auth)">
                            <div class="dropdown">
                                <button class="btn btn-sm btn-outline-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Admin</button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" :href="'attendance.html?id=' + session.id"><i class="bi bi-list-check"></i> Attendance</a></li>
                                    <li><a :href="'edit_session.html?edit=' + session.id" class="dropdown-item"><i class="bi bi-pencil"></i> Edit</a></li>
                                    <li><a :href="'edit_session.html?copy=' + session.id" class="dropdown-item"><i class="bi bi-copy"></i> Copy</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><button type="button" class="dropdown-item text-danger" data-bs-toggle="modal" data-bs-target="#deleteConfirmDialog" @click="onClickDeleteSession(session)"><i class="bi bi-trash"></i> Delete</button></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <p>Found {{session_data.length}} session(s) for selected week.</p>
            <a v-if="isAdmin(auth)" class="btn btn-outline-primary" href="edit_session.html"><i class="bi bi-plus-circle"></i> Add Session</a>

            <!-- Deletion Confirm Dialog -->
            <div class="modal fade" id="deleteConfirmDialog" tabindex="-1" aria-labelledby="deleteConfirmModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header bg-danger">
                            <h1 class="modal-title fs-5" id="deleteConfirmModalLabel">Delete Session</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>Are you sure you want to delete the session on {{displayDate(deleting_session.datetime)}} at {{displayTime(deleting_session.datetime)}}?</p>
                            <p>This cannot be undone. All related bookings and attendance records will be deleted.</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-danger" @click="deleteSession(deleting_session)" data-bs-dismiss="modal"><i class="bi bi-trash"></i> Delete</button>
                        </div>
                    </div>
                </div>
            </div> <!-- End deletion confirm dialog -->

        </div> <!-- End logged in section -->
    </div> <!-- end main content -->

</div> <!-- End App -->

<div class="sticky-bottom bg-transparent">
    <div class="container-lg my-3 px-3">
        <p>&copy; 2024 Neil Bartlett all rights reserved. ALCFv002.</p>
    </div>
</div>
</body>

<script type="module">
    import { createApp, onMounted, reactive, ref, watch } from './js/vue.esm-browser.js'

    const MILLIS_IN_WEEK = 1000 * 60 * 60 * 24 * 7

    // Current user information
    const auth = ref(null)
    const http_err = ref(null)

    // Main session list
    const session_data = ref([])
    // Session table page control
    const session_pagination = ref({
        page: 0
    })

    // ADMIN ONLY DATA
    const deleting_session = ref({
        id: null,
        datetime: new Date()
    })
    // All users
    const admin_user_data = ref({
        count: 0,
        name_email_to_user: null
    })
    // END ADMIN ONLY DATA

    function current_week_start() {
        let start = new Date()
        start.setDate(start.getDate() - start.getDay()) // Sunday of current week
        start.setHours(0, 0, 0, 0)
        return start
    }

    async function loadSessions() {
        const now = new Date()
        const currentWeekStart = current_week_start();
        let pageStart = new Date(currentWeekStart.getTime() + session_pagination.value.page * MILLIS_IN_WEEK)
        let pageEnd = new Date(pageStart.getTime() + MILLIS_IN_WEEK)
        if (now > pageStart) {
            pageStart = now
        }

        if (auth.value === null) {
            session_data.value = []
            return
        }

        http_err.value = null
        fetch(SERVER_URL + "/sessions?from=" + pageStart.toISOString() + "&to=" + pageEnd.toISOString(), {
            headers: {
                'Authorization': 'Bearer ' + auth.value.access_token
            },
            withCredentials: true,
            credentials: 'include'
        })
        .then(res => {
            if (!res.ok) throw res
            return res.json()
        })
        .then(json => {
            session_data.value = json
        })
        .catch(err => err.text().then(error_text => http_err.value = error_text))
    }

    async function bookSession(session) {
        http_err.value = null
        fetch(SERVER_URL + "/bookings", {
            method: "POST",
            headers: {
                'Authorization': 'Bearer ' + auth.value.access_token
            },
            body: JSON.stringify({
                person_id: auth.value.id,
                session_id: session.id
            }),
            withCredentials: true,
            credentials: 'include'
        })
        .then(res => {
            if (!res.ok) throw res
            session.booking_count ++
            session.booked = true
        })
        .catch(error => {
            error.text().then(error_text => {
                http_err.value = error_text
            })
        })
    }

    async function cancelBooking(session) {
        http_err.value = null
        fetch(SERVER_URL + "/bookings?person_id=" + auth.value.id + "&session_id=" + session.id, {
            method: "DELETE",
            headers: {
                'Authorization': 'Bearer ' + auth.value.access_token
            },
            withCredentials: true,
            credentials: 'include'
        })
        .then(res => {
            if (!res.ok) throw res
            return res.json()
        })
        .then(deleted_booking => {
            if (deleted_booking) {
                session.booking_count --
                session.booked = false
            }
        })
        .catch(error => error.text().then(text => {
            http_err.value = text
        }))
    }

    function setSessionPage(page) {
        let current = session_pagination.value.page
        session_pagination.value.page = page
        if (current !== page) {
            loadSessions()
        }
    }

    function isAdmin(auth) {
        return auth && auth.roles && (auth.roles.includes('admin') || auth.roles.includes('trainer'))
    }

    function onClickDeleteSession(session) {
        deleting_session.value = session
    }

    async function deleteSession(session) {
        http_err.value = null
        fetch(SERVER_URL + "/sessions/" + session.id, {
            method: "DELETE",
            headers: {
                'Authorization': 'Bearer ' + auth.value.access_token
            },
            withCredentials: true,
            credentials: 'include'
        }).then(res => {
            if (!res.ok) throw res
            loadSessions()
        })
    }

    createApp({
        setup() {
            return {
                // User auth and error reporting
                auth, http_err,

                // Session/booking data and callbacks
                session_data, session_pagination, admin_user_data,
                bookSession, cancelBooking, setSessionPage,

                // Misc callbacks and utility functions
                deleting_session, onClickDeleteSession, deleteSession, onLogout, displayDate, displayTime, isAdmin
            }
        }
    })
    .mount('#app')

    window.addEventListener("pageshow", ev => {
        let jwtRaw = localStorage.getItem("jwt")
        if (jwtRaw) {
            auth.value = JSON.parse(jwtRaw)
            loadSessions()
        }
    })

</script>
</html>