<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>FitNext &ndash; Sessions</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>💪</text></svg>">

    <link href="styles/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>

<body>
<div id="app">
    <!-- Navbar -->
    <nav class="navbar navbar-expand navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">💪 FitNext</a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item"><a class="nav-link" href="index.html">Main</a></li>
                    <li class="nav-item"><a class="nav-link disabled" aria-disabled="true">Sessions</a></li>
                    <li class="nav-item"><a class="nav-link" href="bookings.html">Bookings</a></li>
                </ul>
                <div v-cloak v-if="auth">
                    <button id="logout" type="button" class="btn btn-outline-primary" @click="onLogout">Logout</button>
                </div>
            </div>
        </div>
    </nav>

    <!-- Main Content -->
    <div class="container-lg" v-cloak>
        <!-- REST errors -->
        <div class="alert alert-danger shadow my-3" role="alert" v-if="http_err">
            {{http_err}}
        </div>

        <!-- Not logged in section -->
        <div class="card border-danger shadow my-3" v-if="!auth">
            <div class="card-body text-danger">
                <p class="card-text">
                    You are not logged in. Please return to the <a href="login.html">login page</a>.
                </p>
            </div>
        </div> <!-- End not logged in section -->

        <!-- Logged in section -->
        <div id="loggedInSection" v-else>
            <!-- Welcome Header -->
            <div class="card shadow my-3">
                <h5 class="card-header">Welcome, {{auth.name}}!</h5>
                <div class="card-body">
                    <span v-for="role in auth.roles"><span class="badge rounded-pill text-bg-primary">{{role}}</span>&nbsp;</span>
                </div>
            </div>

            <!-- Show sessions -->
            <div class="card shadow my-3">
                <h5 class="card-header"><i class="bi bi-list-check"></i> Sessions Available to Book</h5>
                <div class="card-body">
                    <nav aria-label="Session Pagination">
                        <ul class="pagination justify-content-center">
                            <li class="page-item" :class="{ active: session_pagination.page === 0 }"><a class="page-link" @click.stop="setSessionPage(0)">This Week</a></li>
                            <li class="page-item" :class="{ active: session_pagination.page === 1 }"><a class="page-link" @click.stop="setSessionPage(1)">Next Week</a></li>
                            <li class="page-item" :class="{ active: session_pagination.page === 2 }"><a class="page-link" @click.stop="setSessionPage(2)">+2 Weeks</a></li>
                            <li class="page-item" :class="{ active: session_pagination.page === 3 }"><a class="page-link" @click.stop="setSessionPage(3)">+3 Weeks</a></li>
                        </ul>
                    </nav> <!-- end session table pagination -->

                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">Date & Time</th>
                                <th scope="col">Trainer</th>
                                <th scope="col">Type & Location</th>
                                <th v-if="auth.roles.includes('member')" scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="session in session_data" @click="setSelectedSession(session)" :class="{'table-active': session_selection && (session.id === session_selection.id)}">
                                <td>{{displayDate(session.datetime)}} at {{displayTime(session.datetime)}}&nbsp;<span class="badge rounded-pill text-bg-primary" title="Number of attendees registered">{{session.booking_count}}</span></td>
                                <td>{{session.trainer.name}}</td>
                                <td>{{session.session_type.name}}, <a :href="'http://www.google.com/maps/search/' + encodeURIComponent(session.location.address)" target="_blank">{{session.location.name}}</a></td>
                                <!-- Member book/cancel -->
                                <td v-if="auth.roles.includes('member')">
                                    <span v-if="session.booked">
                                        <span>Booked!</span> <button class="btn btn-outline-danger btn-sm" @click="userCancelBooking(session)"><i class="bi bi-x-circle"></i>&nbsp;Cancel</button>
                                    </span>
                                    <span v-else>
                                        <button class="btn btn-primary btn-sm" @click="userBookSession(session)"><i class="bi bi-plus-circle"></i>&nbsp;Book</button>
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <p>Found {{session_data.length}} session(s) for selected week.</p>
                </div> <!-- end session table card body -->
            </div> <!-- end session table card -->

            <!-- Admin Section -->
            <div v-if="auth && (auth.roles.includes('admin') || auth.roles.includes('trainer'))" id="adminSection">

                <!-- Create New Session Card -->
                <div class="card border-warning shadow my-2" id="createSessionSection">
                    <h5 class="card-header border-warning bg-warning-subtle"><i class="bi bi-gear" title="Admin/Trainer Only Section"></i> Create Session</h5>
                    <div class="card-body border-warning">
                        <form class="row g-3">
                            <div class="col-md-2">
                                <input id="newSessionDate" class="form-control" :class="{'is-invalid': admin_new_session_validation.date}" type="date" v-model="admin_new_session_data.date" required>
                                <div class="invalid-feedback">
                                    {{admin_new_session_validation.date}}
                                </div>
                            </div>
                            <div class="col-md-2">
                                <input id="newSessionTime" class="form-control" :class="{'is-invalid': admin_new_session_validation.time}" type="time" list="newSessionTimeList" v-model="admin_new_session_data.time" required>
                                <datalist id="newSessionTimeList">
                                    <option v-for="time in suggested_session_times" :value="time"></option>
                                </datalist>
                                <div class="invalid-feedback">
                                    {{admin_new_session_validation.time}}
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="input-group m-0 p-0">
                                    <input id="newSessionDuration" class="form-control" :class="{'is-invalid': admin_new_session_validation.duration_mins}" type="number" v-model="admin_new_session_data.duration_mins" required>
                                    <span class="input-group-text">mins</span>
                                    <div class="invalid-feedback">
                                        {{admin_new_session_validation.duration_mins}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <select id="newSessiomType" class="form-control" :class="{'is-invalid': admin_new_session_validation.session_type_id}" v-model="admin_new_session_data.session_type_id" required>
                                    <option disabled value="">Select session type&hellip;</option>
                                    <option v-for="session_type in admin_session_type_list" :value="session_type.id">{{session_type.name}}</option>
                                </select>
                                <div class="invalid-feedback">
                                    {{admin_new_session_validation.session_type_id}}
                                </div>
                            </div>
                            <div class="col-md-2">
                                <select id="newSessionTrainer" class="form-control" :class="{'is-invalid': admin_new_session_validation.trainer_id}" v-model="admin_new_session_data.trainer_id" required>
                                    <option disabled value="">Select trainer&hellip;</option>
                                    <option v-for="trainer in admin_trainer_list" :value="trainer.id">{{trainer.name}}</option>
                                </select>
                                <div class="invalid-feedback">
                                    {{admin_new_session_validation.trainer_id}}
                                </div>
                            </div>
                            <div class="col-md-2">
                                <select id="newSessionLocation" class="form-control" :class="{'is-invalid': admin_new_session_validation.location_id}" v-model="admin_new_session_data.location_id" required>
                                    <option disabled value="">Select location&hellip;</option>
                                    <option v-for="location in admin_location_list" :value="location.id">{{location.name}}</option>
                                </select>
                                <div class="invalid-feedback">
                                    {{admin_new_session_validation.location_id}}
                                </div>
                            </div>
                            <div class="col-12">
                                <button id="newSessionSubmit" type="button" class="btn btn-primary" :disabled="!admin_new_session_validation.ready" @click.prevent="createNewSession">Create</button>
                            </div>
                        </form>
                    </div> <!-- End create new session card body -->
                </div> <!-- End create new session card -->

                <!-- Selected Session Details Card -->
                <div id="sessionDetails" class="card border-warning shadow my-2">
                    <h5 class="card-header border-warning bg-warning-subtle"><i class="bi bi-gear" title="Admin/Trainer Only Section"></i> Selected Session Details</h5>
                    <!-- Session is Selected -->
                    <div v-if="session_selection && session_selection.bookings">
                        <div class="card-body border-warning">
                            <p>{{session_selection.bookings.length}} {{session_selection.bookings.length === 1 ? 'member is' : 'members are'}} booked for {{displayTime(session_selection.datetime)}} on {{displayDate(session_selection.datetime)}} at {{session_selection.location.name}}</p>
                        </div>
                        <ul class="list-group list-group-flush border-warning">
                            <!-- Selected session attendee table -->
                            <li class="list-group-item border-warning">
                                <h6>Attendance List</h6>
                                <table class="table">
                                    <tbody>
                                    <tr v-for="booking in session_selection.bookings">
                                        <td>{{booking.person_name}} &lt;{{booking.person_email}}&gt;</td>
                                        <td><button class="btn btn-outline-danger btn-sm" @click="adminCancelBooking(session_selection, booking.person_id)"><i class="bi bi-x-circle"></i>&nbsp;Cancel</button></td>
                                    </tr>
                                    <tr>
                                        <td><form>
                                            <div class="input-group m-0 p-0">
                                                <span class="input-group-text">+</span>
                                                <input class="form-control" list="addMemberToSessionOptions" id="addMemberToSessionDataList" placeholder="Type member name to search&hellip;" @input.prevent="onAdminAddMemberBookingInput">
                                            </div>
                                            <datalist id="addMemberToSessionOptions">
                                                <option v-for="user_name_email in admin_user_data.name_email_to_user.keys()" :value="user_name_email">
                                            </datalist>
                                        </form></td>
                                        <td><button class="btn btn-primary" :disabled="!session_selection.adding_user" @click="adminBookSession(session_selection, session_selection.adding_user.id)"><i class="bi bi-plus-circle"></i>&nbsp;Add</button></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </li>
                            <!-- Edit selected session -->
                            <li class="list-group-item border-warning">
                                <h6>Edit Session</h6>
                                <form class="row g-3">
                                    <div class="col-md-2">
                                        <input id="editSessionDate" class="form-control" :class="{'is-invalid': admin_edit_session_validation.datetime}" type="date" v-model="admin_edit_session_data.date" required>
                                        <div class="invalid-feedback">
                                            {{admin_edit_session_validation.date}}
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <input id="editSessionTime" class="form-control" :class="{'is-invalid': admin_edit_session_validation.datetime}" type="time" list="editSessionTimeList" v-model="admin_edit_session_data.time" required>
                                        <datalist id="editSessionTimeList">
                                            <option v-for="time in suggested_session_times" :value="time"></option>
                                        </datalist>
                                        <div class="invalid-feedback">
                                            {{admin_edit_session_validation.time}}
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="input-group m-0 p-0">
                                            <input id="editSessionDuration" class="form-control" :class="{'is-invalid': admin_edit_session_validation.duration_mins}" type="number" v-model="admin_edit_session_data.duration_mins" required>
                                            <span class="input-group-text">mins</span>
                                        </div>
                                        <div class="invalid-feedback">
                                            {{admin_edit_session_validation.duration_mins}}
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <select id="editSessiomType" class="form-control" :class="{'is-invalid': admin_edit_session_validation.session_type_id}" v-model="admin_edit_session_data.session_type_id" required>
                                            <option disabled value="">Select session type&hellip;</option>
                                            <option v-for="session_type in admin_session_type_list" :value="session_type.id">{{session_type.name}}</option>
                                        </select>
                                        <div class="invalid-feedback">
                                            {{admin_edit_session_validation.session_type}}
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <select id="editSessionTrainer" class="form-control" :class="{'is-invalid': admin_edit_session_validation.trainer_id}" v-model="admin_edit_session_data.trainer_id" required>
                                            <option disabled value="">Select trainer&hellip;</option>
                                            <option v-for="trainer in admin_trainer_list" :value="trainer.id">{{trainer.name}}</option>
                                        </select>
                                        <div class="invalid-feedback">
                                            {{admin_edit_session_validation.trainer}}
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <select id="editSessionLocation" class="form-control" :class="{'is-invalid': admin_edit_session_validation.location_id}" v-model="admin_edit_session_data.location_id" required>
                                            <option disabled value="">Select location&hellip;</option>
                                            <option v-for="location in admin_location_list" :value="location.id">{{location.name}}</option>
                                        </select>
                                        <div class="invalid-feedback">
                                            {{admin_edit_session_validation.location}}
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <button id="editSessionSubmit" type="button" class="btn btn-primary" :disabled="!admin_edit_session_validation.ready" @click.prevent="updateSelectedSession">Update</button>
                                    </div>
                                </form>
                            </li>
                            <!-- Delete selected session -->
                            <li class="list-group-item border-warning">
                                <h6>Delete Session</h6>
                                <form>
                                    <div class="form-check mb-2">
                                        <input id="deleteSessionUnlock" type="checkbox" class="form-check-input" v-model="session_selection.delete_unlocked">
                                        <label for="deleteSessionUnlock" class="form-check-label">Unlock&hellip;</label>
                                    </div>
                                    <button class="btn btn-danger" type="button" :disabled="!session_selection.delete_unlocked" @click.prevent="deleteSelectedSession"><i class="bi bi-trash"></i>&nbsp;Delete</button>
                                </form>
                            </li>
                        </ul>
                    </div>

                    <!-- No Selected Session -->
                    <div v-else class="card-body border-warning">
                        <p>Select a session above.</p>
                    </div> <!-- end no selected session card body -->
                </div> <!-- End selected session details card -->

            </div> <!-- end admin section -->
        </div> <!-- End logged in section -->
    </div> <!-- end main content -->

</div> <!-- End App -->
<div class="sticky-bottom bg-body">
    <div class="container-lg my-3 px-3">
        <p>&copy; 2024 Neil Bartlett all rights reserved. FitNext v202.</p>
    </div>
</div>
</body>

<script src="js/utils.js"></script>
<script type="module">
    import { createApp, reactive, ref, watch } from 'https://unpkg.com/vue@3/dist/vue.esm-browser.js'

    const MILLIS_IN_WEEK = 1000 * 60 * 60 * 24 * 7

    // Current user information
    const auth = ref(null)
    const http_err = ref(null)

    // Main session list
    const session_data = ref([])
    // Session table page control
    const session_pagination = ref({
        page: 0
    })
    // Session query errors
    // Selected session
    const session_selection = ref(null)

    // ADMIN ONLY DATA
    // All users
    const admin_user_data = ref({
        count: 0,
        name_email_to_user: null
    })
    // List of trainers
    const admin_trainer_list = ref([])
    // List of trainers
    const admin_location_list = ref([])
    // List of session types
    const admin_session_type_list = ref([])
    // Form data for the new session section
    const admin_new_session_data = reactive({
        date: null,
        time: null,
        duration_mins: 60,
        session_type_id: "",
        location_id: "",
        trainer_id: "",
    })
    const admin_new_session_validation = ref({
        ready: false,
        date: null,
        time: null,
        duration_mins: null,
        session_type_id: null,
        location_id: null,
        trainer_id: null
    })
    const admin_edit_session_data = reactive({
        date: null,
        time: null,
        duration_mins: null,
        session_type_id: null,
        location_id: null,
        trainer_id: null
    })
    const admin_edit_session_validation = ref({
        date: null,
        time: null,
        duration_mins: null,
        session_type_id: null,
        location_id: null,
        trainer_id: null
    })
    const suggested_session_times = ref([
        "06:00",
        "07:00",
        "09:00",
        "10:00",
        "11:00",
        "12:00",
        "13:00",
        "14:00",
        "15:00",
        "16:00",
        "17:00",
        "18:00",
        "19:00",
        "20:00",
        "21:00",
        "22:00"
    ])
    // END ADMIN ONLY DATA

    function current_week_start() {
        let start = new Date()
        start.setDate(start.getDate() - start.getDay()) // Sunday of current week
        start.setHours(0, 0, 0, 0)
        return start
    }

    async function loadSessions() {
        session_selection.value = null
        const now = new Date()
        const currentWeekStart = current_week_start();
        let pageStart = new Date(currentWeekStart.getTime() + session_pagination.value.page * MILLIS_IN_WEEK)
        let pageEnd = new Date(pageStart.getTime() + MILLIS_IN_WEEK)
        if (now > pageStart) {
            pageStart = now
        }

        if (auth.value === null) {
            session_data.value = []
            return
        }

        http_err.value = null
        fetch(SERVER_URL + "/sessions?from=" + pageStart.toISOString() + "&to=" + pageEnd.toISOString(), {
            headers: {
                'Authorization': 'Bearer ' + auth.value.access_token
            },
            withCredentials: true,
            credentials: 'include'
        })
        .then(res => {
            if (!res.ok) throw res
            return res.json()
        })
        .then(json => {
            session_data.value = json
        })
        .catch(handleHttpErr)
    }

    function handleHttpErr(err) {
        if (err.status === 401) {
            auth.value = null
            http_err.value = "Not logged in; please login again."
        } else if (err.status === 403) {
            auth.value = null
            http_err.value = "Not authorized, your login may have expired."
        } else {
            err.text().then(err_text => http_err.value = err_text)
        }
    }

    async function loadAdminData() {
        admin_user_data.value = {
            count: 0,
            name_email_to_user: null
        }
        if (!isAuthorizedSessionAdmin(auth.value)) {
            return
        }

        // Fetch all users and load into the admin_user_data map
        http_err.value = null
        fetch(SERVER_URL + "/users/list", {
            headers: {
                'Authorization': 'Bearer ' + auth.value.access_token
            },
            withCredentials: true,
            credentials: 'include'
        }).then(res => {
            if (!res.ok) throw res
            return res.json()
        }).then(users => {
            let count = 0
            let name_email_to_user = new Map()
            for (let user of users) {
                let name_email = user.name + ' <' + user.email + '>'
                name_email_to_user.set(name_email, user)
                count++
            }
            admin_user_data.value = {
                count: count,
                name_email_to_user: name_email_to_user
            }
        }).catch(handleHttpErr)

        // Fetch list of trainers
        doFetch("/users/list?role=trainer", trainers => admin_trainer_list.value = trainers)
        doFetch("/locations", locs => admin_location_list.value = locs);
        doFetch("/session_types", types => admin_session_type_list.value = types)
    }

    async function doFetch(endpoint, onjson) {
        http_err.value = null
        fetch(SERVER_URL + endpoint, {
            headers: {
                'Authorization': 'Bearer ' + auth.value.access_token
            },
            withCredentials: true,
            credentials: 'include'
        }).then(res => {
            if (!res.ok) throw res
            return res.json()
        }).then(onjson).catch(handleHttpErr)
    }

    async function loadSessionAttendees(session) {
        if (auth && (auth.value.roles.includes('admin') || auth.value.roles.includes('trainer'))) {
            http_err.value = false
            fetch(SERVER_URL + "/bookings?session_id=" + session.id, {
                headers: {
                    'Authorization': 'Bearer ' + auth.value.access_token
                },
                withCredentials: true,
                credentials: 'include'
            })
            .then(res => {
                if (!res.ok) throw res
                return res.json()
            })
            .then(json => {
                session_selection.value.bookings = json
            })
            .catch(handleHttpErr)
        }
    }

    async function userBookSession(session) {
        bookSession(session, auth.value.id)
    }

    async function adminBookSession(session, person_id) {
        bookSession(session, person_id)
        document.getElementById('addMemberToSessionDataList').value = null
    }

    async function bookSession(session, person_id) {
        session_selection.value = session
        http_err.value = null
        fetch(SERVER_URL + "/bookings", {
            method: "POST",
            headers: {
                'Authorization': 'Bearer ' + auth.value.access_token
            },
            body: JSON.stringify({
                person_id: person_id,
                session_id: session.id
            }),
            withCredentials: true,
            credentials: 'include'
        })
        .then(res => {
            if (!res.ok) throw res
            return res.json()
        })
        .then(new_booking => {
            if (new_booking) {
                session.booking_count ++
                if (new_booking.person_id === auth.value.id) {
                    session.booked = true
                }
            }
        })
        .catch(error => error.text().then(error_text => http_err.value = error_text))
        .then(_ => {
            loadSessionAttendees(session)
        })
    }

    async function userCancelBooking(session) {
        return cancelBooking(session, auth.value.id)
    }

    async function adminCancelBooking(session, person_id) {
        return cancelBooking(session, person_id)
    }

    async function cancelBooking(session, person_id) {
        session_selection.value = session
        http_err.value = null
        fetch(SERVER_URL + "/bookings?person_id=" + person_id + "&session_id=" + session.id, {
            method: "DELETE",
            headers: {
                'Authorization': 'Bearer ' + auth.value.access_token
            },
            withCredentials: true,
            credentials: 'include'
        })
        .then(res => {
            if (!res.ok) throw res
            return res.json()
        })
        .then(deleted_booking => {
            if (deleted_booking) {
                session.booking_count --
                if (deleted_booking.person_id === auth.value.id) {
                    session.booked = false
                }
            }
        })
        .catch(error => error.text().then(text => {
            console.log("Error: ", text)
        }))
        .then(_ => {
            loadSessionAttendees(session)
        })
    }

    function setSessionPage(page) {
        let current = session_pagination.value.page
        session_pagination.value.page = page
        if (current !== page) {
            loadSessions()
        }
    }

    function setSelectedSession(session) {
        if (!isAuthorizedSessionAdmin(auth.value)) {
            return
        }
        session_selection.value = session
        loadSessionAttendees(session)
        let dt = new Date(session.datetime)
        admin_edit_session_data.date = String(dt.getFullYear()).padStart(4, '0') + '-' + String(dt.getMonth() + 1).padStart(2, '0') + '-' + String(dt.getDate()).padStart(2, '0')
        admin_edit_session_data.time = String(dt.getHours()).padStart(2, '0') + ':' + String(dt.getMinutes()).padStart(2, '0')
        admin_edit_session_data.duration_mins = session.duration_mins;
        admin_edit_session_data.session_type_id = session.session_type.id;
        admin_edit_session_data.trainer_id = session.trainer.id;
        admin_edit_session_data.location_id = session.location.id;
    }
    function onAdminAddMemberBookingInput(e) {
        let name_email = e.target.value
        let user = admin_user_data.value.name_email_to_user.get(name_email)
        console.log("Adding user: ", user)
        session_selection.value.adding_user = user
    }

    async function createNewSession() {
        doSaveSession(admin_new_session_data, "POST", "/sessions")
    }
    async function updateSelectedSession() {
        doSaveSession(admin_edit_session_data, "PUT", "/sessions/" + session_selection.value.id)
    }
    async function doSaveSession(new_session, method, url) {
        let request = {
            datetime: new Date(new_session.date + "  " + new_session.time).toISOString(),
            duration_mins: new_session.duration_mins,
            session_type_id: new_session.session_type_id,
            location_id: new_session.location_id,
            trainer_id: new_session.trainer_id
        }
        http_err.value = null
        fetch(SERVER_URL + url, {
            method: method,
            headers: {
                'Authorization': 'Bearer ' + auth.value.access_token
            },
            body: JSON.stringify(request),
            withCredentials: true,
            credentials: 'include'
        }).then(res => {
            if (!res.ok) throw res
            loadSessions()
        }).then(() => {
            // Clear the date and time so we can quickly add another
            admin_new_session_data.date = null
            admin_new_session_data.time = null
        })
    }

    async function deleteSelectedSession() {
        http_err.value = null
        fetch(SERVER_URL + "/sessions/" + session_selection.value.id, {
            method: "DELETE",
            headers: {
                'Authorization': 'Bearer ' + auth.value.access_token
            },
            withCredentials: true,
            credentials: 'include'
        }).then(res => {
            if (!res.ok) throw res
            session_selection.value = null
            loadSessions()
        })
    }


    function validateEditSession(new_data, val) {
        val.date = new_data.date ? null : "Date is required"
        val.time = new_data.time ? null : "Time is required"
        val.session_type_id = new_data.session_type_id ? null : "Session type must be selected"
        val.duration_mins = new_data.duration_mins > 0 ? null : "Duration must be positive"
        val.trainer_id = new_data.trainer_id ? null : "Trainer must be selected"
        val.location_id = new_data.location_id ? null : "Location must be selected"

        val.ready = val.date === null &&
            val.time === null &&
            val.session_type_id === null &&
            val.duration_mins === null &&
            val.trainer_id === null &&
            val.location_id === null
    }
    watch(admin_new_session_data, async (new_data, old_data) => {
        validateEditSession(new_data, admin_new_session_validation.value)
    })
    watch(admin_edit_session_data, async(new_data, old_data) => {
        validateEditSession(new_data, admin_edit_session_validation.value)
    })

    createApp({
        setup() {
            return {
                // User auth and error reporting
                auth, http_err,

                // Session/booking data and callbacks
                session_data, session_pagination, session_selection, admin_user_data,
                userBookSession, adminBookSession, userCancelBooking, adminCancelBooking, setSelectedSession, setSessionPage,
                onAdminAddMemberBookingInput,

                admin_new_session_data, admin_new_session_validation,
                admin_trainer_list, admin_session_type_list, admin_location_list, createNewSession, deleteSelectedSession, updateSelectedSession,
                admin_edit_session_data, admin_edit_session_validation, suggested_session_times,

                // Misc callbacks and utility functions
                onLogout, displayDate, displayTime
            }
        }
    })
    .mount('#app')

    let jwtRaw = localStorage.getItem("jwt")
    if (jwtRaw) {
        auth.value = JSON.parse(jwtRaw)
        loadSessions()
        loadAdminData()
    }

</script>
</html>