<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Another Level &dash; Attendance stats</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#333333">

    <link href="styles/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/utils.js"></script>
    <script src="js/lodash.min.js"></script>
</head>

<body>
<div id="app">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary" role="navigation">
        <div class="container-fluid">
            <!-- Another Level brand -->
            <a class="navbar-brand" href="index.html"><img src="img/alcf_logo_white.png" alt="Another Level Logo" width="30" height="24" class="d-inline-block align-text-top"> Another Level</a>
            <!-- Collapse state toggle button -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Navbar collapsible list -->
            <div id="navbarContent" class="collapse navbar-collapse">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="sessions.html">Sessions</a></li>
                    <li class="nav-item"><a class="nav-link" href="bookings.html">Bookings</a></li>
                    <!-- Admin only links -->
                    <li v-cloak v-if="isAdmin(auth)" class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Admin</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="members.html">Member Directory</a></li>
                            <li><a class="dropdown-item" href="stats.html">Attendance Stats</a></li>
                        </ul>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="https://chat.whatsapp.com/CPjp84Qz6uM5t9Oq88Qb4Q" target="_blank"><i class="bi bi-question-circle"></i>&nbsp;Help</a></li>
                </ul>
                <div v-cloak v-if="auth">
                    <span class="navbar-text"><a href="profile.html" style="text-decoration: none; color: var(--bs-nav-link-color)"><i class="bi bi-person-fill"></i>&nbsp;{{auth.name}}</a></span>&nbsp;
                    <button id="logout" type="button" class="btn btn-outline-danger" @click="onLogout">Logout</button>
                </div>
            </div>
        </div>
    </nav>

    <!-- Main Content -->
    <div class="container-lg" v-cloak>
        <!-- REST errors -->
        <div v-if="http_err" class="alert alert-danger my-2" role="alert">
            <div v-if="'authorization token expired' === http_err">
                Your login session has expired, please <a :href="'login.html?return=' + encodeLoginReturnUrl()">login again</a>.
            </div>
            <div v-else>
                {{http_err}}
            </div>
        </div>

        <!-- Not logged in section -->
        <div class="alert alert-danger my-2" role="alert" v-if="!auth">
            <div class="card-body text-danger">
                <p class="card-text">
                    You are not logged in. Please return to the <a :href="'login.html?return=' + encodeLoginReturnUrl()">login page</a>.
                </p>
            </div>
        </div> <!-- End not logged in section -->

        <!-- Logged in section -->
        <div id="loggedInSection" v-if="auth">
            <h2>Attendance Stats</h2>
            <div class="card my-2">
                <h6 class="card-header">Date Range</h6>
                <div class="card-body">
                    <form>
                        <div class="row">
                            <div class="col">
                                <label for="fromDate" class="form-label">From</label>
                                <input id="fromDate" class="form-control" type="date" v-model="filter.from">
                            </div>
                            <div class="col">
                                <label for="toDate" class="form-label">To</label>
                                <input id="toDate" class="form-control" type="date" v-model="filter.to">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="card my-2">
                <h6 class="card-header">Included Session Types:</h6>
                <div class="card-body">
                    <div v-for="session_type in session_types" class="form-check">
                        <input type="checkbox" class="form-check-input" v-model="session_type.enabled"> <!--@click="selectSessionType(session_type)"> -->
                        <label class="form-check-label">{{session_type.name}}</label>
                    </div>
                </div>
            </div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Attended</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="stat in stats_data">
                        <td>{{stat.name}}</td>
                        <td>{{stat.attended_count}}</td>
                    </tr>
                </tbody>
            </table>
        </div> <!-- End logged in section -->
    </div> <!-- end main content -->
</div> <!-- end Vue app -->

<div class="sticky-bottom bg-body">
    <div class="container-lg my-3 px-3">
        <p>&copy; 2024 Neil Bartlett all rights reserved. ALCFv001.</p>
    </div>
</div>
</body>

<script type="module">
    import { createApp, reactive, ref, watch } from './js/vue.esm-browser.js'

    const auth = ref(null)
    const http_err = ref(null)
    const session_types = reactive([])
    const filter = reactive({
        from: null,
        to: null
    })
    const stats_data = ref([])

    async function loadSessionTypes() {
        return fetch(SERVER_URL + "/session_types", {
            headers: {
                'Authorization': 'Bearer ' + auth.value.access_token
            },
            withCredentials: true,
            credentials: 'include'
        }).then(res => {
            if (!res.ok) throw res
            return res.json()
        })
    }

    async function loadStats() {
        let urlParams = new URLSearchParams()
        if (filter.from) {
            let from = new Date(filter.from + " 00:00:00Z")
            urlParams.set("from", from.toISOString())
        }
        if (filter.to) {
            let to = new Date(filter.to + " 23:59:59Z")
            urlParams.set("to", to.toISOString())
        }
        for (let session_type of session_types) {
            if (session_type.enabled) {
                urlParams.append("session_type", session_type.id)
            }
        }
        let url = SERVER_URL + "/stats/attendance?" + urlParams.toString()
        console.log("(Re)loading stats...", url)
        return fetch(url, {
            headers: {
                'Authorization': 'Bearer ' + auth.value.access_token
            },
            withCredentials: true,
            credentials: 'include'
        }).then(res => {
            if (!res.ok) throw res
            return res.json()
        }).catch(err => {
            err.text().then(err_text => http_err.value = err_text)
        })
    }

    function isAdmin(auth) {
        return auth && auth.roles && (auth.roles.includes('admin') || auth.roles.includes('trainer'))
    }

    function onFilterModified() {
        loadStats().then(stats => stats_data.value = stats)
    }

    watch(filter, onFilterModified)

    createApp({
        setup() {
            return {
                auth, http_err, session_types, filter, stats_data,
                onLogout, isAdmin, encodeLoginReturnUrl
            }
        }
    }).mount('#app')

    let jwtRaw = localStorage.getItem("jwt")
    if (jwtRaw) {
        auth.value = JSON.parse(jwtRaw)
        loadSessionTypes().then(json => {
            for (let session_type of json) {
                session_types.push({
                    id: session_type.id,
                    name: session_type.name,
                    enabled: true
                })
            }
            watch(session_types, onFilterModified)
            return loadStats()
        }).then(stats => stats_data.value = stats)
    } else {
        auth.value = null
    }

</script>