{% extends "default_layout" %}

{% block content %}
<div class="container">

  <div class="my-2 mx-auto text-center">
    <h1 class="display-4 fw-normal text-body-emphasis">{{page.title}}</h1>
    <p class="fs-5 text-body-secondary">The requested page could not be found :-(</p>
  </div> 

</div>
{% endblock %}