{% extends "loggedin_layout" %}

{% block loggedin_content %}
<div class="container">
    
    <!-- Page Title -->
    <div class="mt-2 mx-auto text-center">
        <h1 class="display-4 fw-normal text-body-emphasis">{{page.title}}</h1>
    </div>    
    
    <!-- Record Ad Hoc Activities -->
    <div class="card my-2 border-success">
        <h5 class="card-header border-success text-bg-success">Record Ad Hoc Activities</h5>
        <form @submit.prevent="submitAdhocActivity">
            <div class="card-body">
                <div class="d-flex flex-wrap align-items-center">
                    <!-- Date -->
                    <div class="m-1">
                        <label for="newAdhocActivityDateInput">Date:</label>
                        <input
                            id="newAdhocActivityDateInput"
                            type="date"
                            class="form-control"
                            :class="{'is-invalid': new_adhoc_activity_validation.date}"
                            v-model="new_adhoc_activity.date"
                            required>
                    </div>

                    <!-- Activity Type -->
                    <div class="m-1 flex-grow-1">
                        <label for="newAdhocActivityTypeInput">Activity:</label>
                        <select
                                id="newAdhocActivityTypeInput"
                                class="form-control"
                                :class="{'is-invalid': new_adhoc_activity_validation.activity_type}"
                                v-model="new_adhoc_activity.activity_type"
                                required>
                            <option disabled value="-1">Select&hellip;</option>
                            <option v-for="activity_type in activity_types" :value="activity_type.id">${activity_type.name}</option>
                        </select>
                    </div>

                    <!-- Quantity -->
                    <div class="m-1">
                        <label for="newAdhocActivityQuantityInput">Quantity</label>
                        <div class="input-group flex-nowrap">
                            <input
                                id="newAdhocActivityQuantityInput"
                                v-model="new_adhoc_activity.quantity"
                                type="number"
                                min="0"
                                :step="new_adhoc_activity_meta.step_size"
                                class="form-control"
                                :class="{'is-invalid': new_adhoc_activity_validation.quantity}"
                                style="max-width: 160px;"
                                placeholder="Quantity"
                                required>
                            <span class="input-group-text">${new_adhoc_activity_meta.units}</span>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="card-footer d-flex align-items-center">
            <span class=""><strong>NB</strong>: this activity will not be counted towards a <a href="challenges.html">Challenge</a>.</span>
            <button type="button" class="btn btn-outline-primary ms-auto" :disabled="!new_adhoc_activity_validation.ready" @click="submitAdhocActivity">Add</button>
        </div>
    </div> <!-- record ad hoc activity -->

    <!-- Query activities card -->
    <div class="card border-primary">
        <h5 class="card-header border-primary d-flex align-items-center p-0">
            <button type="button" class="btn btn-sm" data-bs-toggle="collapse" data-bs-target="#queryCollapse" aria-expanded="false" aria-controls="queryCollapse">
                <i class="bi bi-caret-right-fill text-collapsed"></i>
                <i class="bi bi-caret-down-fill text-expanded"></i>
            </button>
            Query Activities
        </h5>
        <div id="queryCollapse" class="card-body collapse">
            <form>
                <div class="flex-grow-1 d-flex flex-wrap align-items-center">
                    <div class="flex-grow-1 d-flex flex-nowrap align-items-center">                        
                        <label for="activityQueryDateFrom">From:</label>
                        <input
                            id="activityQueryDateFrom"
                            type="date"
                            class="form-control flex-grow-1 m-1"
                            v-model="all_activities_query.from"
                            required>
                    </div>
                    <div class="flex-grow-1 d-flex flex-nowrap align-items-center">                        
                        <label for="activityQueryDateTo">To:</label>
                        <input
                            id="activityQueryDateTo"
                            type="date"
                            class="form-control flex-grow-1 m-1"
                            v-model="all_activities_query.to">
                    </div>
                    <div class="flex-grow-1 d-flex flex-nowrap align-items-center">
                        <label for="activityQueryType">Type:</label>
                        <select
                                id="activityQueryType"
                                class="form-control flex-grow-1 m-1"
                                :class="{'is-invalid': new_adhoc_activity_validation.activity_type}"
                                v-model="all_activities_query.type"
                                required>
                            <option value="-1">Any</option>
                            <option v-for="activity_type in activity_types" :value="activity_type.id">${activity_type.name}</option>
                        </select>
                    </div>
                </div>
                <div v-if="all_activities_query_validation.error_msg" class="text-danger">
                    <i class="bi bi-exclamation-circle"></i>&nbsp;${all_activities_query_validation.error_msg}
                </div>
            </form>
        </div>
    </div> <!-- query activities -->

    <!-- Bar graph for each activity type -->
    <div class="row my-0 gx-2 gy-2">
        <div v-for="(activityTypeValue, activityTypeKey) in all_activity_totals.byType" class="col-sm">
            <div class="card border-primary">
                <h5 class="card-header border-primary text-bg-primary">${activityTypeKey}</h5>
                <div class="card-body">
                    <table class="table table-sm table-transparent align-middle">
                        <tr v-for="(activityDateValue, activityDateKey) in activityTypeValue.dates" :class="{'table-active': activityDateValue.weekend}">
                            <td class="text-nowrap">${displayShortDate(new Date(activityDateKey))}</td>
                            <td width="100%" class="p-0">
                                <div class="progress progress-squared bg-transparent" role="progressbar" style="height: 20px">
                                    <div class="progress-bar progress-bar-striped bg-info text-bg-info" :style="'width:' + displayPercent(activityDateValue.total / activityTypeValue.max)">
                                        <span v-if="activityDateValue.total">${displayNumber(activityDateValue.total)}&nbsp;${activityTypeValue.units}</span>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- All Activities Card -->
    <div class="card my-2 border-primary">
        <h5 class="card-header border-primary text-bg-primary">All Activities</h5>
        <div class="card-body">
            <table v-if="all_activities.length > 0" class="table table-borderless table-striped table-sm align-middle ">
                <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Challenge</th>
                        <th scope="col">Activity</th>
                        <th scope="col">Quantity</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(activity, index) in all_activities">
                        <td>${displayShortDate(new Date(activity.date))}</td>
                        <td>
                            <span v-if="activity.challenge">${activity.challenge.name}</span>
                            <span v-else>N/A</span>
                        </td>
                        <td>${activity.activity_type.name}</td>
                        <td>${displayNumber(activity.amount)}&nbsp;${activity.activity_type.units}</td>
                        <td><button class="btn btn-sm btn-outline-danger float-end" @click="deleteActivity(activity, index)"><i class="bi bi-trash"></i></button></td>
                    </tr>
                </tbody>
            </table>
            <div v-else>
                There are no activities of type "${getActivityTypeName(all_activities_query.type)}" to show for the period ${displayDate(all_activities_query.from)} to ${displayDate(all_activities_query.to)}.
            </div>
        </div>
    </div> <!-- all activities card -->

</div>

{% endblock loggedin_content %}