{% extends "loggedin_layout" %}

{% block extra_head %}
<script src="https://cdn.jsdelivr.net/npm/@tsparticles/confetti@3.0.3/tsparticles.confetti.bundle.min.js"></script>
{% endblock %}

{% block loggedin_content %}
<div class="container">

    <!-- Page Title -->
    <div class="mt-2 mx-auto text-center">
        <h1 class="display-4 fw-normal text-body-emphasis">{{page.title}}</h1>
    </div>    
    
    <!-- Admin Only Card -->
    <div v-if="isAdmin()" class="alert alert-warning my-3 position-relative">
        <div class="position-absolute top-0 end-0"><i class="bi bi-lightning-fill" title="Admin Only"></i></div>
        <form>
            <div class="row">
                <div class="col">
                    <label for="selectMemberDataList" class="form-label">View and Log as Member:</label>
                    <input type="search" class="form-control" id="selectMemberDataList" placeholder="Type member name to search&hellip;" list="selectMemberOptions" v-model="admin_controls.user_name_email">
                    <datalist id="selectMemberOptions">
                        <option v-for="user in admin_all_user_data" :value="formatNameAndEmail(user.name, user.email)"></option>
                    </datalist>
                </div>
                <div class="col">
                    <label for="selectCurrentDate" class="form-label">Set Current Date:</label>
                    <input type="date" class="form-control" id="selectCurrentDate" v-model="admin_controls.current_date">
                </div>
            </div>
        </form>
    </div>

    <!-- Navigation Tabs-->
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active fs-5" id="current-challenges-tab" data-bs-toggle="tab" data-bs-target="#current-challenges-tab-pane" type="button" role="tab" aria-controls="current-challenges-tab-pane" aria-selected="true" @click="tabSelected">Current</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link fs-5" id="future-challenges-tab" data-bs-toggle="tab" data-bs-target="#future-challenges-tab-pane" type="button" role="tab" aria-controls="future-challenges-tab-pane" aria-selected="false" @click="tabSelected">Future</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link fs-5" id="past-challenges-tab" data-bs-toggle="tab" data-bs-target="#past-challenges-tab-pane" type="button" role="tab" aria-controls="past-challenges-tab-pane" aria-selected="false" @click="tabSelected">Past</button>
        </li>
    </ul>

    <!-- Tab Contents-->
    <div class="tab-content" id="myTabContent">

        <!-- Current Challenges Tab -->
        <div class="tab-pane fade show active" id="current-challenges-tab-pane" role="tabpanel" aria-labelledby="current-challenges-tab" tabindex="0">
            <!-- Alert if no active challenges -->
            <div v-if="current_challenges.length == 0" class="alert alert-warning my-2 fs-5">
                There are no active challenges at the moment, but you can still <a href="activities.html">record activities</a>!
            </div>

            <div class="row my-0 gx-2 gy-2">
                <!-- Card each for current challenges -->
                <div v-for="(challenge, challenge_index) in current_challenges" class="col">
                    <div class="card my-2 rounded-3 shadow-sm" :class="{'border-primary': new_activities[challenge_index]}">
                        <div class="card-header" :class="{'text-bg-primary': new_activities[challenge_index]}">
                            <span class="fs-5">${challenge.name}:</span> ${displayShortDate(challenge.start)} to ${displayShortDate(challenge.finish)}
                        </div>
                        <ul class="list-group list-group-flush">
                            <!-- Description if present -->
                            <li v-if="challenge.description" class="list-group-item">
                                <div v-html="challenge.description"></div>
                            </li>

                            <!-- Progress Bars -->
                            <li class="list-group-item">
                                {% include "challenge_progress_bars" %}
                            </li>
    
                            <!-- New Activity Entry -->
                            <li v-if="new_activities[challenge_index]" class="list-group-item">
                                <form @submit.prevent="submitActivity(challenge_index, challenge)">
                                    <div class="d-flex flex-wrap align-items-center"> <!-- flex wrap to allow the label to split from the form controls -->
                                        <div class="fs-5 text-nowrap me-1">Log ${challenge.activity_type.name}:</div>
                                        <div class="flex-grow-1 d-flex align-items-center gy-2"> <!-- non-wrapping flex to keep the form controls in a line -->
                                            <!-- Date -->
                                            <input
                                                v-model="new_activities[challenge_index].date"
                                                type="date"
                                                class="form-control" :class="{'is-invalid': new_activities_validation[challenge_index].date != 'valid'}"
                                                required>
                        
                                            <!-- Amount -->
                                            <div class="input-group ms-1 flex-nowrap">
                                                <input
                                                    v-model="new_activities[challenge_index].amount"
                                                    type="number"
                                                    min="0"
                                                    :step="new_activities[challenge_index].step_size"
                                                    class="form-control" :class="{'is-invalid': new_activities_validation[challenge_index].amount != 'valid'}"
                                                    style="max-width: 160px;"
                                                    placeholder="Quantity"
                                                    required>
                                                <span class="input-group-text">${new_activities[challenge_index].units}</span>
                                            </div>
                                            <div class="ms-auto">
                                                <button type="button" class="btn btn-outline-primary ms-1" @click="submitActivity(challenge_index, challenge)" :disabled="!new_activities_validation[challenge_index].ready">Add</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div v-if="new_activities_validation[challenge_index].error_msg" class="text-danger"><i class="bi bi-exclamation-circle"></i>&nbsp;${new_activities_validation[challenge_index].error_msg}</div>
                                </form>
                            </li>
                        </ul>
                
                        <!-- Leaderboard in card footer -->
                        <div class="card-footer">
                            <span class="fs-5 mt-2">Leaderboard</span>
                            <table class="table table-borderless table-transparent mt-2 align-middle">
                                <tr v-if="challenge.member_summaries.length == 0">
                                    <td class="ps-0 fs-5" colspan="3">
                                        No activities recorded yet!
                                    </td>
                                </tr>
                                <tr v-for="(member_summary, index) in challenge.member_summaries">
                                    <td class="ps-0 fs-6">
                                        <span v-if="index == 0" title="Gold Medal">🥇</span>
                                        <span v-if="index == 1" title="Silver Medal">🥈</span>
                                        <span v-if="index == 2" title="Bronze Medal">🥉</span>
                                        <span v-if="index >= 3">${index + 1}</span>
                                    </td>
                                    <td class="fs-6 text-nowrap" :class="{'text-success': isSelectedUserId(member_summary.id)}">
                                        <span v-if="member_summary.name">${member_summary.name}</span>
                                        <span v-else>&laquo; others &raquo;</span>
                                    </td>
                                    <td width="100%">
                                        <div class="progress" role="progressbar" style="height: 25px">
                                            <div class="progress-bar"
                                            :class="{'bg-success': isSelectedUserId(member_summary.id), 'bg-primary': !isSelectedUserId(member_summary.id)}"
                                            :style="'width:' + calculateMemberBarWidth(challenge.member_summaries, index)">${displayNumber(member_summary.total_amount)}</div>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div> <!-- current challenge card -->
                </div>
            </div>

        </div> <!-- current challenges tab -->

        <div class="tab-pane fade" id="future-challenges-tab-pane" role="tabpanel" aria-labelledby="future-challenges-tab" tabindex="0">
            <!-- Card each for future challenges -->
            <div v-if="future_challenges.length == 0" class="fs-5 my-2">
                There are no upcoming challenges planned yet. Check back later!
            </div>
            <div v-for="challenge in future_challenges" class="card rounded-3 shadow-sm my-2">
                <div class="card-header">
                    <h5>${challenge.name}</h5>
                    ${displayDate(challenge.start)} to ${displayDate(challenge.finish)}
                </div>
            </div> <!-- future challenge card -->
        </div> <!-- future challenges tab -->

        <div class="tab-pane fade" id="past-challenges-tab-pane" role="tabpanel" aria-labelledby="future-challenges-tab" tabindex="0">
            <!-- Card each for past challenges -->
            <div v-for="challenge in past_challenges" class="card rounded-3 shadow-sm my-2">
                <div class="card-header">
                    <h5>${challenge.name}</h5>
                    ${displayDate(challenge.start)} to ${displayDate(challenge.finish)}
                </div>
                <div class="card-body">
                    {% include "challenge_progress_bars" %}
                </div>
            </div> <!-- past challenge card -->
        </div> <!-- past challenges tab-->

        <!-- My Activity Log Tab -->
        <div class="tab-pane fade" id="activity-log-tab-pane" role="tabpanel" aria-labelledby="activity-log-tab" tabindex="0">

        </div> <!-- activity log tab -->
    </div> <!-- tab content-->
</div> <!-- main container -->
{% endblock loggedin_content %} 
