{% extends "loggedin_layout" %}

{% block loggedin_content %}
<div class="container">
    <div class="mt-2 mx-auto text-center">
        <h1 class="display-4 fw-normal text-body-emphasis">{{page_title}}</h1>
    </div>    

    <!-- Query Params -->
    <div class="row">
        <div class="col">
            <div class="card my-2">
                <h6 class="card-header">Filter</h6>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <form>
                                <label for="fromDate" class="form-label">Date</label>
                                <div class="input-group">
                                    <button class="btn btn-primary" @click.prevent="prevDate()">&laquo; Prev</button>
                                    <input id="fromDate" class="form-control" type="date" v-model="filter.date">
                                    <button class="btn btn-primary" @click.prevent="nextDate()">Next &raquo;</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <table class="table align-middle">
        <thead>
            <tr>
                <th scope="col">Date &amp; Time</th>
                <th scope="col">User</th>
                <th scope="col">Type</th>
                <th scope="col">Detail</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="log_entry in log_entries">
                <td>${displayDateTime(log_entry.datetime)}</td>
                <td>${log_entry.person}</td>
                <td>${log_entry.event_type}</td>
                <td>${log_entry.detail}</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}