{% extends "base_layout" %}

{% block base_content %}
<div id="app" class="container" v-cloak>

    {# REST errors #}
    <div v-if="http_err !== null" class="alert alert-danger my-2 text-center" role="alert">
        <i class="bi bi-exclamation-triangle-fill"></i>&nbsp;${http_err.text}
    </div>

    {% block content %}{% endblock content %}
</div>
{% endblock %}