{% extends "default_layout" %}

{% block content %}
<div class="container">
    <div class="p-3 pb-md-4 mx-auto text-center">
        <h1 class="display-4 fw-normal text-body-emphasis">Pricing</h1>
        <p class="fs-5 text-body-secondary">Choose one of the following membership levels.</p>
    </div>
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        <!-- Full Member -->
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm border-primary">
                <div class="card-header py-3 text-bg-primary border-primary">
                    <h4 class="my-0 fw-normal">Full</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title">£55<small class="text-body-secondary fw-light">/mo</small></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>&#8226;&nbsp;Unlimited sessions</li>
                        <li>&#8226;&nbsp;£40/mo for full time students age 16+</li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Limited Member -->
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                    <h4 class="my-0 fw-normal">Limited</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">£40<small class="text-body-secondary fw-light">/mo</small></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>&#8226;&nbsp;Max 1 session per week</li>
                        <li>&#8226;&nbsp;Additional sessions £16 each or £145 for ten</li>
                        <li>&#8226;&nbsp;Running club, cycle squad and socials</li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Free -->
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                    <h4 class="my-0 fw-normal">Free</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">£0<small class="text-body-secondary fw-light">/mo</small></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>&#8226;&nbsp;One free trial session</li>
                        <li>&#8226;&nbsp;Pay-as-you-go £16 per session or £145 for ten</li>
                        <li>&#8226;&nbsp;Running club, cycle squad and socials</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <p class="fs-5 text-center text-body-secondary">No joining fees! Monthly membership fees paid by standing order on the first of each month. First month membership may be discounted if joining mid-month.</p>

    <h2 class="display-6 text-center">
        <a role="button" href="register.html" class="btn btn-success rounded-pill px-4" style="font-size: x-large;">Claim Free Trial</a>
    </h2>

</div>
{% endblock content %}
