<!-- Only show controls for logged-in users -->
<div v-if="loggedin" class="mt-2">

    <!-- Member Booked -->
    <span v-if="session.booked" class="me-1">                        
        <!-- Session in past: display attendance status and feedback -->
        <span v-if="isPast(session.datetime)">
            <span v-if="session.attended" class="text-success text-align-middle">
                <!-- Attended marker -->
                <i class="bi bi-check2-circle">&nbsp;Attended</i>
                &nbsp;
                <!-- Session feedback button -->
                <button class="btn btn-sm btn-outline-primary" type="button" @click="openSessionFeedback(session)"><i class="bi bi-chat-quote"></i></button>
            </span>
            <!-- Not-attended marker -->
            <span v-else class="text-danger"><i class="bi bi-x-circle">&nbsp;Didn't Attend</i></span>
        </span>
        <!-- Session in future, show booked and allow cancellation -->
        <div v-else class="btn-group">
            <button type="button" class="btn btn-success btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-check2-circle"></i>&nbsp;Booked!</button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item link-danger" href="#" @click.prevent="cancelBooking(session)"><i class="bi bi-x-circle"></i>&nbsp;Cancel</a></li>
            </ul>
        </div>
    </span>

    <!-- Member not booked, session is in future. For unbooked sessions in the past, there is nothing to display. -->
    <span v-else v-if="!isPast(session.datetime)" class="me-1">
        <!-- Max booking count reached -->
        <span v-if="session.max_booking_count && session.booking_count >= session.max_booking_count">
            <!-- User on waitlist -->
            <div v-if="session.waitlist_rank" class="btn-group">
                <button type="button" class="btn btn-outline-warning btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-hourglass-split"></i>&nbsp;On Waitlist&nbsp;(${session.waitlist_rank})
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item link-danger" href="#" @click.prevent="leaveWaitlist(session)"><i class="bi bi-x-circle"></i>&nbsp;Leave Waitlist</a></li>
                </ul>
            </div>
            <!-- User not on waitlist -->
            <button v-else type="button" class="btn btn-warning btn-sm" @click="joinWaitlist(session)">Join Waitlist</button>
        </span>
        <button v-else type="button" class="btn btn-primary btn-sm" @click="bookSession(session)">Book</button>
    </span>

    <!-- Admin Dropdown -->
    <div v-if="isAdmin()" class="btn-group dropup">
        <button type="button" class="btn btn-outline-primary btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-gear-fill"></i></button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" :href="'attendance.html?id=' + session.id + '&return=' + encodeLoginReturnUrl()"><i class="bi bi-list-check"></i> Attendance</a></li>
            <li><a class="dropdown-item" :href="'feedback.html?id=' + session.id + '&return=' + encodeLoginReturnUrl()"><i class="bi bi-chat-text"></i> Feedback</a></li>
            <li><a :href="'edit_session.html?return=' + encodeLoginReturnUrl() + '#edit=' + session.id" class="dropdown-item"><i class="bi bi-pencil"></i> Edit</a></li>
            <li><a :href="'edit_session.html?return=' + encodeLoginReturnUrl() + '#copy=' + session.id" class="dropdown-item"><i class="bi bi-copy"></i> Copy</a></li>
            <li><button type="button" class="dropdown-item text-danger" data-bs-toggle="modal" data-bs-target="#deleteConfirmDialog" @click="onClickDeleteSession(session)"><i class="bi bi-trash"></i> Delete</button></li>
        </ul>
    </div>
    <a v-else v-if="isUserTrainerOfSession(session)" class="btn btn-outline-primary btn-sm" :href="'attendance.html?id=' + session.id + '&return=' + encodeLoginReturnUrl()"><i class="bi bi-list-check"></i> Attendance</a>
</div>
